{% extends "layouts/main.html" %}

{% block pageTitle %}
Which local authority is related to this property? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="../incorrect-info" method="post">
        {{ govukRadios({
          name: "parking-spot",
          fieldset: {
            legend: {
              text: "How many spaces are available for this parking?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Guidance on parking space"
          },
          items: [
          {
            value: "one-eight",
            text: "1 to 8 parking spaces"
            
          },
          {
            value: "nine-plus",
            text: "9 or more parking spaces"
            
          }
          ]
        }) }}
<div class="govuk-button-group">
  {{ govukButton({
    text: "Continue",
    type: "submit"
  }) }}

  {{ govukButton({
    text: "Cancel",
    classes: "govuk-button--secondary"
  }) }}
</div>

      </form>

    </div>
  </div>

{% endblock %}
