{% extends "layouts/main.html" %}

{% block pageTitle %}
{% if data['languagePreference'] == "en" %}
How have your properties been merged? – GOV.UK Prototype Kit
 {% else %}
Sut mae dy gartref wedi eu cyfuno? – GOV.UK Prototype Kit
 {% endif %}
{% endblock %}

{% block header %}
{% if data['languagePreference'] == "en" %}
{{ hmrcHeader({
  homepageUrl : "/v1-5-1/start?languagePreference=en",
    signOutHref : "?sign-out",
    useTudorCrown: "true"
  }) }}

{% else %}
{{ hmrcHeader({
  homepageUrl : "/v1-5-1/start?languagePreference=cy",
    language : "cy",
    signOutHref : "?sign-out",
    useTudorCrown: "true"
  }) }}
  {% endif %}
{% endblock %}

{% block beforeContent %}

{{

  hmrcLanguageSelect({

      language: 'cy' if data['languagePreference'] === 'cy' else 'en',

      en: { href: '?languagePreference=en' },

      cy: { href: '?languagePreference=cy' }

  })

}}
{% if data['languagePreference'] == "en" %}
{{ govukBackLink({
  text: "Back",
  href: "../changes?languagePreference=en"
}) }}
{% else %}
{{ govukBackLink({
  text: "Yn ôl",
  href: "../changes?languagePreference=cy"
}) }}

{% endif %}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
<form action="merge-property-when" method="post">
{% if data['languagePreference'] == "en" %}
  <h1 class="govuk-heading-l">How have your properties been merged?</h1>
  {{ govukTextarea({
    id: "merged-property-reason",
    name: "merged-property-reason",

    hint: {
      text: "For example, two flats have been merged into a single home. Provide as much detail as possible."
    }
  }) }}
  <button class="govuk-button" data-module="govuk-button">Continue</button>
{% else %}
  <h1 class="govuk-heading-l">Sut mae dy gartref wedi eu cyfuno?</h1>
  {{ govukTextarea({
    id: "merged-property-reason",
    name: "merged-property-reason",
    hint: {
      text: "Er enghraifft, mae dau fflat wedi eu cyfuno'n un cartref. Rho gymaint o wybodaeth â phosibl."
    }
  }) }}
  <button class="govuk-button" data-module="govuk-button">Parhau</button>
{% endif %}
</form>
    </div>
    </div>
{% endblock %}
