{% extends "layouts/main.html" %}

<!-- Page title -->
{% block pageTitle %}
  {% if languagePreference == "en" %}
    Review your property details – {{ data['govukTite'] }}

  {% else %}
    Gwirio manylion dy eiddo – {{ data['govukTite'] }}
  {% endif %}
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <!-- Language selector -->
  {% include "v1-7-1/includes/_hmrcLanguageSelect.html" %}
  <!-- Back link -->
  {% include "v1-7-1/includes/_backLink.html" %}
</div>
{% endblock %}

<!-- Page content -->
{% block content %}

{% if languagePreference == "en" %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
        Review your property details
      </h1>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Address"
            },
            value: {
              text: "19, St David's Crescent, Cardiff, CF5 4GP"
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">Your property details
        <span class="govuk-body govuk-!-display-block govuk-!-margin-top-1">Only you can see this information.</span>
      </h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Total rooms"
            },
            value: {
              text: "4"
            },
            actions: {
              items: [
                {
                  href: "correct/rooms",
                  text: "Change",
                  visuallyHiddenText: "total rooms"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Bedrooms"
            },
            value: {
              text: "2"
            },
            actions: {
              items: [
                {
                  href: "correct/bedrooms",
                  text: "Change",
                  visuallyHiddenText: "bedrooms"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Bathrooms"
            },
            value: {
              text: "1"
            },
            actions: {
              items: [
                {
                  href: "correct/bathrooms",
                  text: "Change",
                  visuallyHiddenText: "bathrooms"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Type of home"
            },
            value: {
              text: "Mid-terraced house"
            },
            actions: {
              items: [
                {
                  href: "correct/property-type",
                  text: "Change",
                  visuallyHiddenText: "type of home"
                }
              ]
            }
          },
          {
            key: {
              text: "Size of home"
            },
            value: {
              text: "90 m²"
            },
            actions: {
              items: [
                {
                  href: "correct/area",
                  text: "Change",
                  visuallyHiddenText: "size of home"
                }
              ]
            }
          },

          {
            key: {
              text: "Floors"
            },
            value: {
              text: "2"
            },
            actions: {
              items: [
                {
                  href: "correct/floor-house",
                  text: "Change",
                  visuallyHiddenText: "floors"
                }
              ]
            }
          },
          {
            key: {
              text: "Parking"
            },
            value: {
              text: "Street or public parking"
            },
            actions: {
              items: [
                {
                  href: "correct/parking",
                  text: "Change",
                  visuallyHiddenText: "parking"
                }
              ]
            }
          },
          {
            key: {
              text: "Features that may affect value"
            },
            value: {
              text: "Sea view"
            },
            actions: {
              items: [
                {
                  href: "correct/features",
                  text: "Change",
                  visuallyHiddenText: "features that may affect value"
                }
              ]
            }
          }
        ]
      }) }}

      {{ govukDetails({
        summaryText: "What does the information mean?",
        html: "<ul class='govuk-list govuk-list--space'>" +
              "<li><strong>Total rooms</strong><br> All rooms in your home. This includes living rooms and bedrooms, but does not include bathrooms, kitchens, utility rooms and conservatories.</li>" +
              "<li><strong>Bedrooms</strong><br> Includes bedrooms used as a study, home office or playroom.</li>" +
              "<li><strong>Bathrooms</strong><br> With at least a bath or shower, toilet and sink.</li>" +
              "<li><strong>Type of home</strong><br> For example, a detached house, terraced house or flat.</li>" +
              "<li><strong>Size of home</strong><br> For houses and bungalows, we use external measurements. For flats, we use internal measurements. All measurements are in metres squared (m2).</li>" +
              "<li><strong>Floors</strong><br> The number of floors in your home, for example 2 floors.</li>" +
              "<li><strong>Parking</strong><br>For example, a single garage or parking on a drive.</li>" +
              "<li><strong>Features that may affect value</strong><br> These can be positive or negative, for example the location or view.</li>" +
              "</ul>"
      }) }}

      <h2 class="govuk-heading-m">
        Confirm details
      </h2>

      <p>
        To the best of your knowledge, the details above are correct.
      </p>

      <form action="challenge" method="post" novalidate>
        <input type="hidden" name="detailsChanged" value="false">
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

    </div>
  </div>
  {% else %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
        Gwirio manylion dy eiddo
      </h1>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Cyfeiriad"
            },
            value: {
              text: "19, St David's Crescent, Cardiff, CF5 4GP"
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">Manylion dy eiddo
        <span class="govuk-body govuk-!-display-block govuk-!-margin-top-1">Dim ond ti sy'n gallu gweld yr wybodaeth hon.</span>
      </h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Pob ystafell"
            },
            value: {
              text: "4"
            },
            actions: {
              items: [
                {
                  href: "correct/rooms",
                  text: "Newid",
                  visuallyHiddenText: "pob ystafell"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Ystafelloedd gwely"
            },
            value: {
              text: "2"
            },
            actions: {
              items: [
                {
                  href: "correct/bedrooms",
                  text: "Newid",
                  visuallyHiddenText: "ystafelloedd gwely"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Ystafelloedd ymolchi"
            },
            value: {
              text: "1"
            },
            actions: {
              items: [
                {
                  href: "correct/bathrooms",
                  text: "Newid",
                  visuallyHiddenText: "ystafelloedd ymolchi"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Math o gartref"
            },
            value: {
              text: "Tŷ canol teras"
            },
            actions: {
              items: [
                {
                  href: "correct/property-type",
                  text: "Newid",
                  visuallyHiddenText: "math o gartref"
                }
              ]
            }
          },
          {
            key: {
              text: "Maint y cartref"
            },
            value: {
              text: "90 m²"
            },
            actions: {
              items: [
                {
                  href: "correct/area",
                  text: "Newid",
                  visuallyHiddenText: "maint y cartref"
                }
              ]
            }
          },
          {
            key: {
              text: "Lloriau"
            },
            value: {
              text: "2"
            },
            actions: {
              items: [
                {
                  href: "correct/floor-house",
                  text: "Newid",
                  visuallyHiddenText: "lloriau"
                }
              ]
            }
          },
          {
            key: {
              text: "Parcio"
            },
            value: {
              text: "Parcio cyhoeddus"
            },
            actions: {
              items: [
                {
                  href: "correct/parking",
                  text: "Newid",
                  visuallyHiddenText: "parcio"
                }
              ]
            }
          },
          {
            key: {
              text: "Pethau sy'n gallu effeithio ar y gwerth"
            },
            value: {
              text: "Yr olygfa"
            },
            actions: {
              items: [
                {
                  href: "correct/features",
                  text: "Newid",
                  visuallyHiddenText: "pethau sy'n gallu effeithio ar y gwerth"
                }
              ]
            }
          }
        ]
      }) }}

      {{ govukDetails({
        summaryText: "Beth mae'r wybodaeth yn ei olygu?",
        html: "<ul class=\"govuk-list govuk-list--spaced\">" +
              "<li><strong>Pob ystafell</strong><br> Pob ystafell yn dy gartref. Mae hyn yn cynnwys ystafelloedd byw ac ystafelloedd gwely, ond nid yw'n cynnwys ystafelloedd ymolchi, ceginau, ystafelloedd aml-bwrpas nac ystafelloedd gwydr.</li>" +
              "<li><strong>Ystafelloedd gwely</strong><br> Ystafelloedd sy'n cael eu defnyddio ar gyfer astudio/gweithio gartre neu ystafelloedd chwarae.</li>" +
              "<li><strong>Ystafelloedd ymolchi</strong><br> Gydag o leiaf bath neu gawod, toiled a basn.</li>" +
              "<li><strong>Math o gartref</strong><br> Dosbarthiad dy gartref, e.e., tŷ ar wahân, tŷ pâr, tŷ teras</li>" +
              "<li><strong>Maint y cartref</strong><br> Ar gyfer tai a byngalos, rydym yn defnyddio mesuriadau allanol. Ar gyfer fflatiau, rydym yn defnyddio mesuriadau mewnol. Mae'r holl fesuriadau mewn metrau sgwâr (m2).</li>" +
              "<li><strong>Lloriau</strong><br> Nifer y lloriau yn dy gartref, er enghraifft 2.</li>" +
              "<li><strong>Parcio</strong><br> Er enghraifft, garej sengl neu parcio ar y dreif.</li>" +
              "<li><strong>Pethau sy'n gallu effeithio ar y gwerth</strong><br>Maen nhw'n gallu bod yn bositif neu'n negyddol, er enghraifft y lleoliad neu'r olygfa.</li>" +
              "</ul>"
      }) }}

      <h2 class="govuk-heading-m">
        Cadarnhau manylion
      </h2>

      <p>
        Hyd eithaf dy wybodaeth, mae'r manylion hyn yn gywir.
      </p>

      <form action="challenge" method="post" novalidate>
        <input type="hidden" name="detailsChanged" value="false">
        {{ govukButton({
          text: "Parhau"
        }) }}
      </form>

    </div>
  </div>
  {% endif %}


{% endblock %}
