{% extends "layouts/main.html" %}

<!-- Page title -->
{% block pageTitle %}
  {% if data['languagePreference'] == "en" %}
    Information for: 19, St David's Crescent, Cardiff, CF5 4GP – {{ data['govukTite'] }}

  {% else %}
    Dyma'r wybodaeth ar gyfer: 19, St David's Crescent, Cardiff, CF5 4GP – {{ data['govukTite'] }}
  {% endif %}
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <!-- Language selector -->
  {% include "v1-7-1/includes/_hmrcLanguageSelect.html" %}
  <!-- Back link -->
  {% include "v1-7-1/includes/_backLink.html" %}
</div>
{% endblock %}

<!-- Page content -->
{% block content %}

{% if data['languagePreference'] == "en" %}

  <div class="govuk-grid-row">
    
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Information for:</span>
        19, St David's Crescent, Cardiff, CF5 4GP
      </h1>
      
      
<h1 class="govuk-heading-m">Public information
        <span class="govuk-caption-m">Anybody can view this information</span>
      </h1>
      <hr>
      {{ govukTable({
        firstCellIsHeader: true,
        rows: [
          [
            {
              html: "Council Tax band<br><span class='govuk-hint'>The current band for the property. This is based on the property value on 01 April 2003.</span>
              <br><br>
              <details class='govuk-details'><summary class='govuk-details__summary'><span class='govuk-details__summary-text'>Council Tax bands Wales</span></summary>
                <div class='govuk-details__text'>
                  <table class='govuk-table'>
                
                    <thead class='govuk-table__head'>
                      <tr class='govuk-table__row'>
                        <th scope='col' class='govuk-table__header'>Band</th>
                        <th scope='col' class='govuk-table__header'>Property value at 1 April 2003 </th>
                      </tr>
                    </thead>
                    <tbody class='govuk-table__body'>
                      <tr class='govuk-table__row'>
                        <th scope='row' class='govuk-table__header'>A</th>
                        <td class='govuk-table__cell'>up to £44,000</td>
                      </tr>
                      <tr class='govuk-table__row'>
                        <th scope='row' class='govuk-table__header'>B</th>
                        <td class='govuk-table__cell'>£44,001 to £65,000 </td>
                      </tr>
                      <tr class='govuk-table__row'>
                        <th scope='row' class='govuk-table__header'>C</th>
                        <td class='govuk-table__cell'>£65,001 to £91,000</td>
                      </tr>
                      <tr class='govuk-table__row' style='background-color:#f3f2f1'>
                        <th scope='row' class='govuk-table__header'>D</th>
                        <td class='govuk-table__cell'>£91,001 to £123,000</td>
                      </tr>
                      <tr class='govuk-table__row'>
                        <th scope='row' class='govuk-table__header'>E</th>
                        <td class='govuk-table__cell'>£123,001 to £162,000</td>
                      </tr>
                      <tr class='govuk-table__row'>
                        <th scope='row' class='govuk-table__header'>F</th>
                        <td class='govuk-table__cell'>£162,001 to £223,000</td>
                      </tr>
                      <tr class='govuk-table__row'>
                        <th scope='row' class='govuk-table__header'>G</th>
                        <td class='govuk-table__cell'> £223,001 to £324,000</td>
                      </tr>
                      <tr class='govuk-table__row'>
                        <th scope='row' class='govuk-table__header'>H</th>
                        <td class='govuk-table__cell'>£324,001 to £424,000 </td>
                      </tr>
                      <tr class='govuk-table__row'>
                        <th scope='row' class='govuk-table__header'>I</th>
                        <td class='govuk-table__cell'>more than £424,000</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                </details>",
              attributes: {
                style: "width: 70%"
              }
            },
            {
              text: "D",
              attributes: {
                style: "width: 30%"
              }
            }
          ],
          [
            {
              html: "With effect from<br><span class='govuk-hint'>The date the current band came into effect.</span>",
              attributes: {
                style: "width: 30%"
              }
            },
            {
              text: "9 October 2008",
              attributes: {
                style: "width: 30%"
              }
            }
          ],
          [
            {
              html: "Local Council<br><span class='govuk-hint'>The Local Council sets the amount of Council Tax you pay each year, based on the band.</span>",
              attributes: {
                style: "width: 30%"
              }
            },
            {
              html: "<a href='https://www.cardiff.gov.uk/ENG/Pages/default.aspx'>Cardiff </a>",
              attributes: {
                style: "width: 30%"
              }
            }
          ],
          [
            {
              html: "Annual Council Tax charges<br><span class='govuk-hint'>The average annual Council Tax charge for Cardiff Council Tax band D.</span>
              <br><br>
              <details class='govuk-details'><summary class='govuk-details__summary'><span class='govuk-details__summary-text'>Cardiff Council Tax charges</span></summary>
                <div class='govuk-details__text'>
                  <table class='govuk-table'>
                    <caption class='govuk-table__caption govuk-table__caption--s'>Council Tax charges 2025-26</caption>
                    <thead class='govuk-table__head'>
                      <tr class='govuk-table__row'>
                        <th scope='col' class='govuk-table__header'>Band</th>
                        <th scope='col' class='govuk-table__header'>Annual payment</th>
                        <th scope='col' class='govuk-table__header'>10 monthly
                          payments</th>
                        <th scope='col' class='govuk-table__header'>12 monthly payments</th>
                      </tr>
                    </thead>
                    <tbody class='govuk-table__body'>
                      <tr class='govuk-table__row'>
                        <th scope='row' class='govuk-table__header'>A</th>
                        <td class='govuk-table__cell'>£1,284.12</td>
                        <td class='govuk-table__cell'>£128.41</td>
                        <td class='govuk-table__cell'>£107.01</td>
                      </tr>
                      <tr class='govuk-table__row'>
                        <th scope='row' class='govuk-table__header'>B</th>
                        <td class='govuk-table__cell'>£1,498.14</td>
                        <td class='govuk-table__cell'>£149.81</td>
                        <td class='govuk-table__cell'>£124.85</td>
                      </tr>
                      <tr class='govuk-table__row'>
                        <th scope='row' class='govuk-table__header'>C</th>
                        <td class='govuk-table__cell'>£1,712.16</td>
                        <td class='govuk-table__cell'>£171.22</td>
                        <td class='govuk-table__cell'>£142.68</td>
                      </tr>
                      <tr class='govuk-table__row' style='background-color:#f3f2f1'>
                        <th scope='row' class='govuk-table__header'>D</th>
                        <td class='govuk-table__cell'>£1,926.18</td>
                        <td class='govuk-table__cell'>£192.62</td>
                        <td class='govuk-table__cell'>£160.52</td>
                      </tr>
                      <tr class='govuk-table__row'>
                        <th scope='row' class='govuk-table__header'>E</th>
                        <td class='govuk-table__cell'>£2.354.22</td>
                        <td class='govuk-table__cell'>£235.42</td>
                        <td class='govuk-table__cell'>£196.19</td>
                      </tr>
                      <tr class='govuk-table__row'>
                        <th scope='row' class='govuk-table__header'>F</th>
                        <td class='govuk-table__cell'>£2,782.26</td>
                        <td class='govuk-table__cell'>£278.23</td>
                        <td class='govuk-table__cell'>£231.86</td>
                      </tr>
                      <tr class='govuk-table__row'>
                        <th scope='row' class='govuk-table__header'>G</th>
                        <td class='govuk-table__cell'>£3,210.30</td>
                        <td class='govuk-table__cell'>£321.03</td>
                        <td class='govuk-table__cell'>£267.53</td>
                      </tr>
                      <tr class='govuk-table__row'>
                        <th scope='row' class='govuk-table__header'>H</th>
                        <td class='govuk-table__cell'>£3,852.36</td>
                        <td class='govuk-table__cell'>£385.24</td>
                        <td class='govuk-table__cell'>£321.03</td>
                      </tr>
                
                      <tr class='govuk-table__row'>
                        <th scope='row' class='govuk-table__header'>I</th>
                        <td class='govuk-table__cell'>£4,494.42
                        </td>
                        <td class='govuk-table__cell'>£449.44</td>
                        <td class='govuk-table__cell'>£374.54</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                </details>
              ",
              attributes: {
                style: "width: 30%"
              }
            },
            {
              html: "£1926.18 per year",
              attributes: {
                style: "width: 30%"
              }
            }
          ],
          [
            {
              html: "Local Council reference number<br><span class='govuk-hint'>A reference number for the property.</span>",
              attributes: {
                style: "width: 30%"
              }
            },
            {
              text: "1103 8000 8111 0001 00",
              attributes: {
                style: "width: 30%"
              }
            }
          ],
          [
            {
              html: "Improvement indicator<br><span class='govuk-hint'>If a property has been improved or extended since it was placed in a Council Tax band, a Yes will be shown. This means the band will be reviewed and may increase following the sale of the property.</span>",
              attributes: {
                style: "width: 30%"
              }
            },
            {
              text: "Yes",
              attributes: {
                style: "width: 30%"
              }
            }
          ],
          [
            {
              html: "Mixed-use property<br><span class='govuk-hint'>A property which is used as a home and a business. For example, a working farm or a flat above a shop.</span>",
              attributes: {
                style: "width: 30%"
              }
            },
            {
              text: "No",
              attributes: {
                style: "width: 30%"
              }
            }
            ],
            [
            {
              html: "Court code<br><span class='govuk-hint'>If the Council Tax band has been reviewed by a Valuation Tribunal or High Court, a court code will be shown.</span><br><br><details class='govuk-details'><summary class='govuk-details__summary'><span class='govuk-details__summary-text'>What the codes mean</span></summary><div class='govuk-details__text'>
                V - Valuation Tribunal determination<br>
                C - Valuation Tribunal confirmation<br>
                R - Valuation Tribunal redetermination following High Court referral<br>
                D - High Court determination<br>
                H - High Court confirmation<br>
                E - High Court consent order
              </div></details>",
              attributes: {
                style: "width: 30%"
              }
            },
            {
              text: "None",
              attributes: {
                style: "width: 30%"
              }
            }
            ]]
      }) }}

      
      <p>If you are the Council Tax payer or have permission from the Council Tax payer, you can view more property details.</p>
      <p> You can also let us know if these details or Council Tax band are wrong.</p>
      <p>You'll need a Government Gateway Account to sign in, as property details are personal data. </p>
      {{ govukButton({
        text: "Continue",
        classes: "govuk-button--primary",
        href: "self-cert"
      }) }}
      
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      {{ govukButton({
        text: "Search for another property",
        classes: "govuk-button--secondary",
        href: "search"
      }) }}
      
      </div>
  </div>


  {% else %}
  <div class="govuk-grid-row">
    
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Dyma'r wybodaeth ar gyfer:</span>
        19, St David's Crescent, Cardiff, CF5 4GP
      </h1>
      <h1 class="govuk-heading-m">Gwybodaeth gyhoeddus</h1>
      {{ govukInsetText({
        text: "Gall unrhyw un weld yr wybodaeth hon."
      }) }}
      
      {{ govukTable({
              firstCellIsHeader: true,
              rows: [
                [
                  {
                    html: "Band Treth Gyngor<br><span class='govuk-hint'>Bandiau Treth Gyngor yng Nghymru (yn seiliedig ar werthoedd 1 Ebrill 2003) </span>
                    
                     <br><br>
              <details class='govuk-details'><summary class='govuk-details__summary'><span class='govuk-details__summary-text'>Bandiau Treth Gyngor yng Nghymru</span></summary>
                <div class='govuk-details__text'>
                                  <table class='govuk-table'>

  <thead class='govuk-table__head'>
    <tr class='govuk-table__row'>
      <th scope='col' class='govuk-table__header'>Band</th>
      <th scope='col' class='govuk-table__header'>Gwerth ar 1 Ebrill 2003 </th>
    </tr>
  </thead>
  <tbody class='govuk-table__body'>
    <tr class='govuk-table__row'>
      <th scope='row' class='govuk-table__header'>A</th>
      <td class='govuk-table__cell'>hyd at £44,000</td>
    </tr>
    <tr class='govuk-table__row'>
      <th scope='row' class='govuk-table__header'>B</th>
      <td class='govuk-table__cell'>£44,001 i £65,000 </td>
    </tr>
    <tr class='govuk-table__row'>
      <th scope='row' class='govuk-table__header'>C</th>
      <td class='govuk-table__cell'>£65,001 i £91,000</td>
    </tr>
    <tr class='govuk-table__row' style='background-color:#f3f2f1'>
      <th scope='row' class='govuk-table__header'>D</th>
      <td class='govuk-table__cell'>£91,001 i £123,000 </td>
    </tr>
    <tr class='govuk-table__row'>
      <th scope='row' class='govuk-table__header'>E</th>
      <td class='govuk-table__cell'>£123,001 i £162,000 </td>
    </tr>
    <tr class='govuk-table__row'>
      <th scope='row' class='govuk-table__header'>F</th>
      <td class='govuk-table__cell'>£162,001 i £223,000 </td>
    </tr>
    <tr class='govuk-table__row'>
      <th scope='row' class='govuk-table__header'>G</th>
      <td class='govuk-table__cell'>£223,001 i £324,000 </td>
    </tr>
    <tr class='govuk-table__row'>
      <th scope='row' class='govuk-table__header'>H</th>
      <td class='govuk-table__cell'>£324,001 i £424,000</td>
    </tr>
    <tr class='govuk-table__row'>
      <th scope='row' class='govuk-table__header'>I</th>
      <td class='govuk-table__cell'>mwy na £424,000 </td>
    </tr>
  </tbody>
</table>
                </div></details>
                    
                    ",
                    attributes: {
                      style: "width: 70%"
                    }
                  },
                  {
                    text: "D",
                    attributes: {
                      style: "width: 30%"
                    }
                  }
                ],
                [
                  {
                    html: "Dyddiad dod i rym<br><span class='govuk-hint'>Y dyddiad wnaeth y band presennol ddechrau.</span>",
                    attributes: {
                      style: "width: 30%"
                    }
                  },
                  {
                    text: "9 Hydref 2008",
                    attributes: {
                      style: "width: 30%"
                    }
                  }
                ],
                [
                  {
                    html: "Cyngor Lleol<br><span class='govuk-hint'>Y Cyngor Lleol sy'n gosod swm y Dreth Gyngor yr ydych yn ei dalu bob blwyddyn, yn seiliedig ar y band.</span>",
                    attributes: {
                      style: "width: 30%"
                    }
                  },
                  {
                    html: "<a href='https://www.cardiff.gov.uk/ENG/Pages/default.aspx'>Caerdydd</a>",
                    attributes: {
                      style: "width: 30%"
                    }
                  }
                ],
                [
                  {
                    html: "Bil blynyddol y Dreth Gyngor <br><span class='govuk-hint'>Bil blynyddol cyfartalog y Dreth Gyngor ar gyfer eiddo band D yng Nghaerdydd</span>
                    <br><br>
              <details class='govuk-details'><summary class='govuk-details__summary'><span class='govuk-details__summary-text'>Cyngor Lleol Caerdydd </span></summary>
                <div class='govuk-details__text'>
                  <table class='govuk-table'>
                    <caption class='govuk-table__caption govuk-table__caption--s'>Taliadau’r Dreth Gyngor 2025–26 </caption>
                    <thead class='govuk-table__head'>
                      <tr class='govuk-table__row'>
                        <th scope='col' class='govuk-table__header'>Band</th>
                        <th scope='col' class='govuk-table__header'>Taliad blynyddol </th>
                        <th scope='col' class='govuk-table__header'>10 taliad misol </th>
                        <th scope='col' class='govuk-table__header'>12 taliad misol </th>
                      </tr>
                    </thead>
                    <tbody class='govuk-table__body'>
                      <tr class='govuk-table__row'>
                        <th scope='row' class='govuk-table__header'>A</th>
                        <td class='govuk-table__cell'>£1,284.12</td>
                        <td class='govuk-table__cell'>£128.41</td>
                        <td class='govuk-table__cell'>£107.01</td>
                      </tr>
                      <tr class='govuk-table__row'>
                        <th scope='row' class='govuk-table__header'>B</th>
                        <td class='govuk-table__cell'>£1,498.14</td>
                        <td class='govuk-table__cell'>£149.81</td>
                        <td class='govuk-table__cell'>£124.85</td>
                      </tr>
                      <tr class='govuk-table__row'>
                        <th scope='row' class='govuk-table__header'>C</th>
                        <td class='govuk-table__cell'>£1,712.16</td>
                        <td class='govuk-table__cell'>£171.22</td>
                        <td class='govuk-table__cell'>£142.68</td>
                      </tr>
                      <tr class='govuk-table__row' style='background-color:#f3f2f1'>
                        <th scope='row' class='govuk-table__header'>D</th>
                        <td class='govuk-table__cell'>£1,926.18</td>
                        <td class='govuk-table__cell'>£192.62</td>
                        <td class='govuk-table__cell'>£160.52</td>
                      </tr>
                      <tr class='govuk-table__row'>
                        <th scope='row' class='govuk-table__header'>E</th>
                        <td class='govuk-table__cell'>£2.354.22</td>
                        <td class='govuk-table__cell'>£235.42</td>
                        <td class='govuk-table__cell'>£196.19</td>
                      </tr>
                      <tr class='govuk-table__row'>
                        <th scope='row' class='govuk-table__header'>F</th>
                        <td class='govuk-table__cell'>£2,782.26</td>
                        <td class='govuk-table__cell'>£278.23</td>
                        <td class='govuk-table__cell'>£231.86</td>
                      </tr>
                      <tr class='govuk-table__row'>
                        <th scope='row' class='govuk-table__header'>G</th>
                        <td class='govuk-table__cell'>£3,210.30</td>
                        <td class='govuk-table__cell'>£321.03</td>
                        <td class='govuk-table__cell'>£267.53</td>
                      </tr>
                      <tr class='govuk-table__row'>
                        <th scope='row' class='govuk-table__header'>H</th>
                        <td class='govuk-table__cell'>£3,852.36</td>
                        <td class='govuk-table__cell'>£385.24</td>
                        <td class='govuk-table__cell'>£321.03</td>
                      </tr>
                
                      <tr class='govuk-table__row'>
                        <th scope='row' class='govuk-table__header'>I</th>
                        <td class='govuk-table__cell'>£4,494.42
                        </td>
                        <td class='govuk-table__cell'>£449.44</td>
                        <td class='govuk-table__cell'>£374.54</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                </details>",
                    attributes: {
                      style: "width: 30%"
                    }
                  },
                  {
                    html: "£1926.18 y flwyddyn",
                    attributes: {
                      style: "width: 30%"
                    }
                  }
                ],
                [
                  {
                    html: "Cyfeirnod y Cyngor Lleol<br><span class='govuk-hint'>Cyfeirnod ar gyfer yr eiddo.</span>",
                    attributes: {
                      style: "width: 30%"
                    }
                  },
                  {
                    text: "1103 8000 8111 0001 00",
                    attributes: {
                      style: "width: 30%"
                    }
                  }
                ],
                [
                  {
                    html: "Dangosydd gwelliant<br><span class='govuk-hint'>Os yw'r eiddo wedi cael ei wella neu ei ymestyn ers iddo gael ei roi mewn band Treth Gyngor, dangosir 'Oes'. Mae hyn yn golygu bydd y band yn cael ei adolygu, a gall gynyddu ar ôl i'r eiddo gael ei werthu.</span>",
                    attributes: {
                      style: "width: 30%"
                    }
                  },
                  {
                    html: "Oes",
                    attributes: {
                      style: "width: 30%"
                    }
                  }
                ],
                [
                  {
                    html: "Eiddo defnydd cymysg<br><span class='govuk-hint'>Eiddo sy'n cael ei ddefnyddio fel cartref a busnes. Er enghraifft, fflat uwchben siop.</span>",
                    attributes: {
                      style: "width: 30%"
                    }
                  },
                  {
                    text: "Na",
                    attributes: {
                      style: "width: 30%"
                    }
                  }
                ],
                [
                  {
                    html: "Cod y Llys<br><span class='govuk-hint'>Os yw'r band Treth Gyngor wedi ei adolygu gan Dribiwnlys Prisio neu Uchel Lys, dangosir cod y llys.<br><br>
                      <details class='govuk-details'><summary class='govuk-details__summary'><span class='govuk-details__summary-text'>Dyma'r codau</span></summary>
                        <div class='govuk-details__text'>
                          V - Penderfyniad gan Dribiwnlys Prisio<br>
                          C - Cadarnhad gan Dribiwnlys Prisio<br>
                          R - Ail benderfyniad y Tribiwnlys Prisio yn dilyn atgyfeiriad gan yr Uchel Lys<br>
                          D - Penderfyniad gan Uchel Lys<br>
                          H - Cadarnhad gan Uchel Lys<br>
                          E - Gorchymyn cydsynio'r Uchel Lys
                        </div>
                        </details>
                        </span>",
                    attributes: {
                      style: "width: 30%"
                    }
                  },
                  {
                    text: "Dim",
                    attributes: {
                      style: "width: 30%"
                    }
                  }
                ]
              ]
            }) }}
      
      <p>Os ydych yn talu'r Dreth Gyngor am yr eiddo yma, neu os ydych wedi cael caniatâd gan y person hwnnw, byddwch chi’n gallu gweld mwy o fanylion eiddo.</p>
      <p>Rydych hefyd yn gallu dweud wrthym os ydych chi'n meddwl bod y manylion am yr eiddo neu'r band Treth Gyngor yn anghywir.</p>
      <p>Bydd angen cyfrif Porth y Llywodraeth arnoch i fewngofnodi, gan fod manylion eiddo yn cael eu trin fel data personol.</p>

      {{ govukButton({
        text: "Parhau",
        classes: "govuk-button--primary",
        href: "self-cert"
      }) }}
      <p class="govuk-body">
        <a href="#" class="govuk-link">Creu cyfrif Porth y Llywodraeth</a>
      </p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
       {{ govukButton({
        text: "Chwilio am eiddo arall",
        classes: "govuk-button--secondary",
        href: "search"
      }) }}
     
    </div>
  </div>
  {% endif %}

{% endblock %}
