{% extends "layouts/main.html" %}

{% block pageTitle %}
{% if data['languagePreference'] == "en" %}
You do not have permission to view more details - GOV.UK Prototype Kit
 {% else %}
 Does gen ti ddim caniatâd i weld rhagor o fanylion – GOV.UK Prototype Kit
 {% endif %}
{% endblock %}
{% block header %}
{% if data['languagePreference'] == "en" %}
{{ hmrcHeader({
  homepageUrl : "/v1-4/start_en",
    useTudorCrown: "true"
  }) }}

{% else %}
{{ hmrcHeader({
  homepageUrl : "/v1-4/start_cy",
    useTudorCrown: "true"
  }) }}
  {% endif %}
{% endblock %}
{% block beforeContent %}

{{

  hmrcLanguageSelect({

      language: 'cy' if data['languagePreference'] === 'cy' else 'en',

      en: { href: '?languagePreference=en' },

      cy: { href: '?languagePreference=cy' }

  })

}}

{% endblock %}
{% block content %}
{% if data['languagePreference'] == "en" %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">You do not have permission to view more details</h1>
        <p class="govuk-body">Only people who are responsible for the Council Tax on this property have permission to view more details. This includes people acting for someone who is responsible.</p>

        <p class="govuk-body">
          <a class="govuk-link" href="../property-details">Back to property details</a>
        </p>
      </div>
    </div>
  </main>
</div>
{% else %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Does gen ti ddim caniatâd i weld rhagor o fanylion</h1>
        <p class="govuk-body">Dim ond pobl sy’n gyfrifol am y Dreth Gyngor ar eiddo sydd â chaniatâd i weld rhagor o fanylion. Mae hyn yn cynnwys pobl sy'n gweithredu dros rywun sydd yn gyfrifol.</p>

        <p class="govuk-body">
          <a class="govuk-link" href="../property-details">Yn ôl at fanylion yr eiddo</a>
        </p>
      </div>
    </div>
  </main>
</div>
{% endif %}
{% endblock %}
