{% extends "layouts/main.html" %}

<!-- Page title -->
{% block pageTitle %}
  {% if data['languagePreference'] == "en" %}
    How many floors are there in you home? – {{ data['govukTite'] }}

  {% else %}
    Sawl llawr sydd yn dy gartref? – {{ data['govukTite'] }}
  {% endif %}
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <!-- Language selector -->
  {% include "v1-7-1/includes/_hmrcLanguageSelect.html" %}
  <!-- Back link -->
  {% include "v1-7-1/includes/_backLink.html" %}
</div>
{% endblock %}

<!-- Page content -->
{% block content %}

{% if data['languagePreference'] == "en" %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="../incorrect-info-change" method="post">
        <h1 class="govuk-heading-l">How many floors are there in you home?</h1>
        <p>For example, for a 2 storey house, enter the number 2</p>
        {{ govukInput({
          
          classes: "govuk-input--width-5 govuk-input--extra-letter-spacing",
          id: "floor-number",
          name: "floornumber",
          spellcheck: false,
          value: "
          "
        }) }}
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue",
            type: "submit"
          }) }}

          {{ govukButton({
            text: "Cancel",
            classes: "govuk-button--secondary"
          }) }}
        </div>

      </form>

    </div>
  </div>

  {% else %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="../incorrect-info-change" method="post">
        <h1 class="govuk-heading-l">Sawl llawr sydd yn dy gartref?</h1>
        <p>Er enghraifft, ar gyfer tŷ sydd â dau lawr, rho y rhif 2.</p>
        {{ govukInput({
          label: {
            text: "",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: ""
          },
          classes: "govuk-input--width-5 govuk-input--extra-letter-spacing",
          id: "floor-number",
          name: "floornumber",
          spellcheck: false,
          value: "
          "
        }) }}
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Parhau",
            type: "submit"
          }) }}

          {{ govukButton({
            text: "Canslo",
            classes: "govuk-button--secondary"
          }) }}
        </div>

      </form>

    </div>
  </div>
  {% endif %}


{% endblock %}
