{% extends "layouts/main.html" %}

{% block pageTitle %}
{% if data['languagePreference'] == "en" %}
When did you become responsible for paying Council Tax for your home? – GOV.UK Prototype Kit
 {% else %}
Pryd wnest ti ddod yn gyfrifol am dalu Treth Gyngor am dy gartref? – GOV.UK Prototype Kit
 {% endif %}
{% endblock %}


{% block header %}
{% if data['languagePreference'] == "en" %}
{{ hmrcHeader({
  homepageUrl : "/v1-7-1/start?languagePreference=en",
    signOutHref : "?sign-out",
    useTudorCrown: "true"
  }) }}

{% else %}
{{ hmrcHeader({
  homepageUrl : "/v1-7-1/start?languagePreference=cy",
    language : "cy",
    signOutHref : "?sign-out",
    useTudorCrown: "true"
  }) }}
  {% endif %}
{% endblock %}

{% block beforeContent %}

{{

  hmrcLanguageSelect({

      language: 'cy' if data['languagePreference'] === 'cy' else 'en',

      en: { href: '?languagePreference=en' },

      cy: { href: '?languagePreference=cy' }

  })

}}
{% if data['languagePreference'] == "en" %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% else %}
{{ govukBackLink({
  text: "Yn ôl",
  href: "javascript:history.back()"
}) }}
{% endif %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
<form action="wrong-details" method="post">
  {% if data['languagePreference'] == "en" %}
    {{ govukDateInput({
      id: "date-payer",
      namePrefix: "date-payer",
      fieldset: {
        legend: {
          text: "When did you become responsible for paying Council Tax for your home?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: {
        html: "<br>You are responsible from the date you bought, or started renting, the home. <br><br>For example, if the date was 27 April 2025, enter 27 4 2025."
      }
    }) }}
    {{ govukButton({
      text: "Continue"
    }) }}
  {% else %}
  <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Pryd wnest ti ddod yn gyfrifol am dalu Treth Gyngor am dy gartref?
      </h1>
    </legend>
    <div id="passport-issued-hint" class="govuk-hint"><br>
      Rydych yn gyfrifol o’r dyddiad wnaethoch brynu, neu ddechrau rhentu, y cartref. <br><br>
      Er enghraifft, os taw’r dyddiad oedd 27 Ebrill 2025, rhowch 27 4 2025
    </div>
    <div class="govuk-date-input" id="passport-issued">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
            Dydd
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
            Mis
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
            Blwyddyn
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
        </div>
      </div>
    </div>
  </fieldset>
</div>

    {{ govukButton({
      text: "Parhau"
    }) }}
  {% endif %}
</form>
</div>
</div>

<script>
  // Handle language switching without creating new history entries
  document.addEventListener('DOMContentLoaded', function() {
    var langLinks = document.querySelectorAll('.hmrc-language-select__list-item a');

    langLinks.forEach(function(link) {
      link.addEventListener('click', function(e) {
        e.preventDefault();
        var newUrl = this.href;
        // Replace current history state instead of pushing new one
        history.replaceState(null, '', newUrl);
        // Reload page to show new language
        window.location.reload();
      });
    });
  });
</script>
{% endblock %}
