{% extends "layouts/main-session.html" %}

<!-- Page title -->
{% block pageTitle %}
  {% if data['languagePreference'] == "en" %}
    Asking for a formal review  – {{ data['govukTitle'] }}

  {% else %}
    Gofyn am adolygiad ffurfiol – {{ data['govukTitle'] }}
  {% endif %}
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <!-- Language selector -->
  {% include "v1-7-1/includes/_hmrcLanguageSelect.html" %}
  <!-- Back link -->
  {% include "v1-7-1/includes/_backLink.html" %}
</div>
{% endblock %}

<!-- Page content -->
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% if data['languagePreference'] == "en" %}
    <h1 class="govuk-heading-xl">Asking for a formal review</h1>

    <p class="govuk-body">
      You have told us that the Council Tax band your home is in was <strong>changed in the last 6 months</strong>.
    </p>

    <p class="govuk-body">
      This means that you can ask for a formal review of your Council Tax band. This is also known as a ‘Formal
      Challenge’ or ‘Making a Proposal’.</p>

    <div class="govuk-inset-text">
      <p class="govuk-body">
        You can change your selection if this option is not right for you.
      </p>
    </div>

    <div class="govuk-button-group">
      {{ govukButton({
      text: "Continue",
      href: "wrong-details"
      }) }}

      <p class="govuk-body">
        <a href="javascript:history.back()" class="govuk-link">Back</a>
      </p>
    </div>

    <h2 class="govuk-heading-l">How a formal review works</h2>

    <table class="govuk-table">

      <tbody class="govuk-table__body">

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            What it is
          </th>
          <td class="govuk-table__cell">
            You can ask the Valuation Office Agency (VOA) to review the Council Tax band your home is in.
          </td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            What it's for
          </th>
          <td class="govuk-table__cell">
            You can ask for a formal review if you think that your home is in the wrong Council Tax band.
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            When you can ask for a formal review
          </th>
          <td class="govuk-table__cell">
            If your Council Tax band was <strong>changed in the last 6 months</strong> and you disagree with the new
            band.
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            How long it takes
          </th>
          <td class="govuk-table__cell">
            Up to 16 weeks
          </td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            Evidence required
          </th>
          <td class="govuk-table__cell">
            You do not need to provide any evidence. However, any information you give us will help the VOA understand
            why you think your home should be in a different band.</td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            Examples of evidence
          </th>
          <td class="govuk-table__cell">
            <ul class="govuk-list govuk-list--bullet">
              <li>addresses of similar homes in a lower band than yours.</li>
              <li>the price that your home or similar homes sold for between 1 April 2001 and 31 March 2005 </li>
            </ul>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            Decision
          </th>
          <td class="govuk-table__cell">
            There are 3 possible decisions that can be made:
            <ul class="govuk-list govuk-list--bullet">
              <li>your home stays in the same band</li>
              <li>your home is moved into a lower band </li>
              <li>your home is moved into a higher band </li>
            </ul>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            After a decision has been made
          </th>
          <td class="govuk-table__cell">
            You have 4 months after the date of the decision to appeal to the Valuation Tribunal Wales if you are not
            satisfied with the outcome.
          </td>
        </tr>

      </tbody>
    </table>


    {% else %}
    <h1 class="govuk-heading-xl">Gofyn am adolygiad ffurfiol</h1>

    <p class="govuk-body">
      Rydych wedi dweud wrthym fod y band Treth Gyngor mae eich cartref ynddo wedi<strong> newid yn ystod y 6 mis
        diwethaf</strong>.</p>

    <p class="govuk-body">
      Mae hyn yn golygu eich bod yn gallu gofyn am adolygiad ffurfiol o’ch band Treth Gyngor. Enw arall am hyn ydy ‘Her
      Ffurfiol’ neu ‘Gwneud Cynnig’.
    <div class="govuk-inset-text">
      <p class="govuk-body">
        Rydych yn gallu newid eich dewis os dyw’r opsiwn yma ddim yn iawn i chi.
      </p>
    </div>

    <div class="govuk-button-group">
      {{ govukButton({
      text: "Parhau",
      href: "wrong-details"
      }) }}

      <p class="govuk-body">
        <a href="javascript:history.back()" class="govuk-link">Yn ôl</a>
      </p>
    </div>

    <h2 class="govuk-heading-l">Sut mae adolygiad ffurfiol yn gweithio</h2>

    <table class="govuk-table">

      <tbody class="govuk-table__body">

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            Beth yw e
          </th>
          <td class="govuk-table__cell">
            Rydych yn gallu gofyn i Asiantaeth y Swyddfa Brisio (VOA) adolygu’r band Treth Gyngor mae eich cartref
            ynddo.
          </td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            Ar gyfer beth yw e
          </th>
          <td class="govuk-table__cell">
            Rydych yn gallu gofyn am adolygiad ffurfiol os ydych yn meddwl bod eich cartref yn y band Treth Gyngor
            anghywir.
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            Pryd rydych yn gallu gofyn am adolygiad ffurfiol
          </th>
          <td class="govuk-table__cell">
            Os yw eich band Treth Gyngor <strong>wedi newid yn ystod y 6 mis diwethaf</strong> ac rydych yn anghytuno
            â’r band newydd</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            Pa mor hir mae’n cymryd
          </th>
          <td class="govuk-table__cell">
            Hyd at 16 wythnos
          </td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            Y tystiolaeth sydd angen
          </th>
          <td class="govuk-table__cell">
            Dydych chi ddim angen rhoi unrhyw dystiolaeth. Ond, bydd unrhyw wybodaeth rydych yn ei roi yn helpu’r VOA i
            ddeall pam rydych yn meddwl y dylai’r cartref fod mewn band gwahanol.
          </td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            Enghreifftiau o dystiolaeth
          </th>
          <td class="govuk-table__cell">
            <ul class="govuk-list govuk-list--bullet">
              <li>cyfeiriadau cartrefi tebyg sydd mewn band is na’ch un chi.</li>
              <li>y pris y gwerthwyd eich cartref neu gartrefi tebyg amdano rhwng 1 Ebrill 2001 a 31 Mawrth 2005.</li>
            </ul>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            Penderfyniad
          </th>
          <td class="govuk-table__cell">
            Mae 3 phenderfyniad posib:
            <ul class="govuk-list govuk-list--bullet">
              <li>mae eich cartref yn aros yn yr un band</li>
              <li>mae eich cartref yn symud i fand is</li>
              <li>mae eich cartref yn symud i fand uwch</li>
            </ul>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            Ar ôl y penderfyniad
          </th>
          <td class="govuk-table__cell">
            Os nad ydych yn hapus gyda’r canlyniad, mae gennych 4 mis ar ôl dyddiad y penderfyniad i apelio i Dribiwnlys
            Prisio Cymru.
          </td>
        </tr>

      </tbody>
    </table>

  </div>

</div>
{% endif %}


{% endblock %}
