{% extends "layouts/main.html" %}
{% block header %}
{% if data['languagePreference'] == "en" %}
{{ hmrcHeader({
    serviceUrl : "/",
    signOutHref : "?sign-out",
    useTudorCrown: "true"
  }) }}

  {% else %}
  {{ hmrcHeader({
    serviceUrl : "/",
    language : "cy",
    signOutHref : "?sign-out",
    useTudorCrown: true
  }) }}
{% endif %}
{% endblock %}
{% block pageTitle %}
Correct information for this property – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{

  hmrcLanguageSelect({

      language: 'cy' if data['languagePreference'] === 'cy' else 'en',

      en: { href: '?languagePreference=en' },

      cy: { href: '?languagePreference=cy' }

  })

}}
{% if data['languagePreference'] == "en" %}
{{ govukBackLink({
  text: "Back",
  href: "../incorrect-info?languagePreference=en"
}) }}
{% else %}
{{ govukBackLink({
  text: "Yn ôl",
  href: "../incorrect-info?languagePreference=cy"
}) }}

{% endif %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
        Check your changes
      </h1>
<p>Below you can find the changes you made to this property's data.</p>
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Mixed-use property"
            },
            value: {
              text: "No"
            },
            actions: {
              items: [
                {
                  href: "correct/mixed-use",
                  text: "Change",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          }
        ]
      }) }}
      <h2 class="govuk-heading-m">Property details</h2>
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Rooms"
            },
            value: {
              text: "4"
            },
            actions: {
              items: [
                {
                  href: "correct/rooms",
                  text: "Change",
                  visuallyHiddenText: "Question 2"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Bedrooms"
            },
            value: {
              text: "2"
            },
            actions: {
              items: [
                {
                  href: "correct/bedrooms",
                  text: "Change",
                  visuallyHiddenText: "Question 2"
                }
              ]
            }
          }
          
          ,
          {
            key: {
              text: "Property type"
            },
            value: {
              text: "Mid-terraced house"
            },
            actions: {
              items: [
                {
                  href: "correct/property-type",
                  text: "Change",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          },

          {
            key: {
              text: "Parking"
            },
            value: {
              text: "No parking exists (on or off street)"
            },
            actions: {
              items: [
                {
                  href: "correct/parking",
                  text: "Change",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          }

        ]
      }) }}

      <h2 class="govuk-heading-m">
        Submit updated details
      </h2>

      <p>
        By submitting those information, you are confirming that, to the best of your knowledge, the details you are providing are correct.
      </p>

      <form action="../confirm-incorrect" method="post" novalidate>

        {{ govukButton({
          text: "Accept and send"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
