{% extends "layouts/main.html" %}

{% block pageTitle %}
Which local authority is related to this property? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="../incorrect-info" method="post">
        
      {% set floorlevel %}
      {{ govukInput({
        id: "floor-level",
        name: "floorlevel",
        type: "number",
        spellcheck: false,
        classes: "govuk-!-width-one-third",
        label: {
          text: "Floor level number"
        }
      }) }}
      {% endset -%}
      
        {{ govukRadios({
          name: "signIn",
          fieldset: {
            legend: {
              text: "What floor is this property on?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Guidance on floor level"
          },
          items: [

          {
            value: "basement",
            text: "Basement"
          },
          {
            value: "lower-ground",
            text: "Lower Ground floor"
          },
          {
            value: "ground",
            text: "Ground floor"
            
          },
          {
            value: "floor-level",
            text: " Above ground level",
            conditional: {
              html: floorlevel
            }
          }
          ]
        }) }}
<div class="govuk-button-group">
  {{ govukButton({
    text: "Continue",
    type: "submit"
  }) }}

  {{ govukButton({
    text: "Cancel",
    classes: "govuk-button--secondary"
  }) }}
</div>

      </form>

    </div>
  </div>

{% endblock %}
