{% extends "layouts/main.html" %}

{% block pageTitle %}
Which local authority is related to this property? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="../incorrect-info" method="post">
        {{ govukInput({
          label: {
            text: "How many floors are there in your property?",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "Guidance"
          },
          classes: "govuk-input--width-5 govuk-input--extra-letter-spacing",
          id: "floor-number",
          name: "floornumber",
          spellcheck: false,
          value: "
          "
        }) }}
<div class="govuk-button-group">
  {{ govukButton({
    text: "Continue",
    type: "submit"
  }) }}

  {{ govukButton({
    text: "Cancel",
    classes: "govuk-button--secondary"
  }) }}
</div>

      </form>

    </div>
  </div>

{% endblock %}
