{% extends "layouts/main.html" %}

{% block pageTitle %}
Tell us why you think the local authority is wrong – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukTextarea({
        name: "moreDetail",
        id: "more-detail",
        label: {
          text: " Tell us why you think the local authority is wrong",
          classes: "govuk-label--l",
          isPageHeading: true
        },
        hint: {
          text: "Do not include personal or financial information, like your National Insurance number or credit card details"
        }
      }) }}
      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue",
          href: "../incorrect-info"
        }) }}
      
        {{ govukButton({
          text: "Cancel",
          classes: "govuk-button--secondary"
        }) }}
      </div>
      
    </div>
  </div>

{% endblock %}
