{% extends "layouts/main.html" %}

{% block pageTitle %}
{% if data['languagePreference'] == "en" %}
How many bathrooms are there in your home? – {{ serviceName }} – GOV.UK Prototype Kit
{% else %}
Sawl ystafell ymolchi sydd yn dy gartref? – {{ serviceName }} – GOV.UK Prototype Kit
{% endif %}
{% endblock %}

{% block header %}
{% if data['languagePreference'] == "en" %}
{{ hmrcHeader({
  homepageUrl : "/v1-3/start_en",
    signOutHref : "?sign-out",
    useTudorCrown: "true"
  }) }}

{% else %}
{{ hmrcHeader({
  homepageUrl : "/v1-3/start_cy",
    signOutHref : "?sign-out",
    useTudorCrown: "true"
  }) }}
  {% endif %}
{% endblock %}

{% block beforeContent %}

{{

  hmrcLanguageSelect({

      language: 'cy' if data['languagePreference'] === 'cy' else 'en',

      en: { href: '?languagePreference=en' },

      cy: { href: '?languagePreference=cy' }

  })

}}
{% if data['languagePreference'] == "en" %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}

{% else %}

{{ govukBackLink({
  text: "Yn ôl",
  href: "javascript:history.back()"
}) }}

{% endif %}
{% endblock %}
{% block content %}
{% if data['languagePreference'] == "en" %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="../incorrect-info" method="post">
        <h1 class="govuk-heading-l">How many bathrooms are there in your home?</h1>
       <p>Bathrooms with at least a bath or shower, toilet and sink.</p>
        {{ govukInput({
          label: {
            text: "Enter total number of bathrooms, for example 2"
          },
         
          classes: "govuk-input--width-10",
          id: "bathroom",
          name: "bathroom",
          inputmode: "numeric",
          spellcheck: false
        }) }}
<div class="govuk-button-group">
  {{ govukButton({
    text: "Continue",
    type: "submit"
  }) }}

  {{ govukButton({
    text: "Cancel",
    classes: "govuk-button--secondary"
  }) }}
</div>

      </form>

    </div>
  </div>
  {% else %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="../incorrect-info" method="post">
        <h1 class="govuk-heading-l">Sawl ystafell ymolchi sydd yn dy gartref?</h1>
       <p>Mae gan ystafelloedd ymolchi o leiaf bath neu gawod, toiled a basn.</p>
        {{ govukInput({
          label: {
            text: "Rho nifer yr ystafelloedd gwely, er enghraifft 2"
          },
          hint: {
            text: ""
          },
          classes: "govuk-input--width-10",
          id: "bathroom",
          name: "bathroom",
          inputmode: "numeric",
          spellcheck: false
        }) }}
<div class="govuk-button-group">
  {{ govukButton({
    text: "Ymlaen",
    type: "submit"
  }) }}

  {{ govukButton({
    text: "Canslo",
    classes: "govuk-button--secondary"
  }) }}
</div>

      </form>

    </div>
  </div>
  {% endif %}
{% endblock %}
