{% extends "layouts/main.html" %}

{% block header %}
{% if data['languagePreference'] == "en" %}
{{ hmrcHeader({
  homepageUrl : "/v1-3/start_en",
    signOutHref : "?sign-out",
    useTudorCrown: "true"
  }) }}

{% else %}
{{ hmrcHeader({
  homepageUrl : "/v1-3/start_cy",
    signOutHref : "?sign-out",
    useTudorCrown: "true"
  }) }}
  {% endif %}
{% endblock %}

{% block pageTitle %}
{% if data['languagePreference'] == "en" %}
Review your changes – {{ serviceName }} – GOV.UK Prototype Kit
{% else %}
Adolygu dy newidiadau – {{ serviceName }} – GOV.UK Prototype Kit
{% endif %}
{% endblock %}

{% block beforeContent %}

{{

  hmrcLanguageSelect({

      language: 'cy' if data['languagePreference'] === 'cy' else 'en',

      en: { href: '?languagePreference=en' },

      cy: { href: '?languagePreference=cy' }

  })

}}
{% if data['languagePreference'] == "en" %}
{{ govukBackLink({
  text: "Back",
  href: "../incorrect-info?languagePreference=en"
}) }}
{% else %}
{{ govukBackLink({
  text: "Yn ôl",
  href: "../incorrect-info?languagePreference=cy"
}) }}

{% endif %}
{% endblock %}

{% block content %}
{% if data['languagePreference'] == "en" %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
        Review your changes
      </h1>
<p>These are the changes you have asked us to look at.</p>
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Mixed-use property"
            },
            value: {
              text: "No"
            },
            actions: {
              items: [
                {
                  href: "mixed-use",
                  text: "Change",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          }
        ]
      }) }}
      <h2 class="govuk-heading-m">Property details</h2>
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Total rooms"
            },
            value: {
              text: "4"
            },
            actions: {
              items: [
                {
                  href: "rooms",
                  text: "Change",
                  visuallyHiddenText: "Question 2"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Bedrooms"
            },
            value: {
              text: "2"
            },
            actions: {
              items: [
                {
                  href: "bedrooms",
                  text: "Change",
                  visuallyHiddenText: "Question 2"
                }
              ]
            }
          }
          
          ,
          {
            key: {
              text: "Type of home"
            },
            value: {
              text: "Mid-terraced house"
            },
            actions: {
              items: [
                {
                  href: "property-type",
                  text: "Change",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          },

          {
            key: {
              text: "Parking"
            },
            value: {
              text: "Street or public parking"
            },
            actions: {
              items: [
                {
                  href: "parking",
                  text: "Change",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          }

        ]
      }) }}

      <h2 class="govuk-heading-m">
        Send updated details
      </h2>
      {% if data['liability'] == "yes" %}
      <p>
        By sending this information you confirm that, to the best of your knowledge, these new details are correct.
      </p>

      {% else %}
      <p>
        By sending this information you confirm that, to the best of your knowledge, these new details are correct.</p>
       <!--<p>
        Guidance on making sure ATA is signed and sent.
      </p>-->

      {% endif %}
      <form action="../confirm-incorrect" method="post" novalidate>

        {{ govukButton({
          text: "Confirm and send"
        }) }}

      </form>
    </div>
  </div>
  {% else %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
        Adolygu dy newidiadau
      </h1>
<p>Dyma'r newidiadau rwyt ti wedi gofyn i ni edrych arnynt.</p>
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Eiddo defnydd cymysg"
            },
            value: {
              text: "Nac oes"
            },
            actions: {
              items: [
                {
                  href: "mixed-use",
                  text: "Newid",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          }
        ]
      }) }}
      <h2 class="govuk-heading-m">Manylion dy eiddo</h2>
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Pob ystafell"
            },
            value: {
              text: "4"
            },
            actions: {
              items: [
                {
                  href: "rooms",
                  text: "Newid",
                  visuallyHiddenText: "Question 2"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Ystafelloedd gwely"
            },
            value: {
              text: "2"
            },
            actions: {
              items: [
                {
                  href: "bedrooms",
                  text: "Newid",
                  visuallyHiddenText: "Question 2"
                }
              ]
            }
          }
          
          ,
          {
            key: {
              text: "Math o gartref"
            },
            value: {
              text: "Tŷ canol teras"
            },
            actions: {
              items: [
                {
                  href: "property-type",
                  text: "Newid",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          },

          {
            key: {
              text: "Parcio"
            },
            value: {
              text: "Parcio cyhoeddus"
            },
            actions: {
              items: [
                {
                  href: "parking",
                  text: "Newid",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          }

        ]
      }) }}

      <h2 class="govuk-heading-m">
        Anfon manylion sydd wedi'u diweddaru
      </h2>
      {% if data['liability'] == "yes" %}
      <p>
        Trwy gyflwyno'r wybodaeth hon, rwyt yn cadarnhau, hyd eithaf dy wybodaeth, bod y manylion newydd yn gywir.
      </p>

      {% else %}
      <p>
        Trwy gyflwyno'r wybodaeth hon, rwyt yn cadarnhau, hyd eithaf dy wybodaeth, bod y manylion newydd yn gywir.</p>
       <!--<p>
        Guidance on making sure ATA is signed and sent.
      </p>-->

      {% endif %}
      <form action="../confirm-incorrect" method="post" novalidate>

        {{ govukButton({
          text: "Cadarnhau ac anfon"
        }) }}

      </form>
    </div>
  </div>
  {% endif %}
{% endblock %}
