{% extends "layouts/main.html" %}

{% block pageTitle %}
{% if data['languagePreference'] == "en" %}
How many floors are there in you home? – {{ serviceName }} – GOV.UK Prototype Kit
{% else %}
Sawl llawr sydd yn dy gartref? – {{ serviceName }} – GOV.UK Prototype Kit
{% endif %}
{% endblock %}

{% block header %}
{% if data['languagePreference'] == "en" %}
{{ hmrcHeader({
  homepageUrl : "/v1-3/start_en",
    signOutHref : "?sign-out",
    useTudorCrown: "true"
  }) }}

{% else %}
{{ hmrcHeader({
  homepageUrl : "/v1-3/start_cy",
    signOutHref : "?sign-out",
    useTudorCrown: "true"
  }) }}
  {% endif %}
{% endblock %}

{% block beforeContent %}

{{

  hmrcLanguageSelect({

      language: 'cy' if data['languagePreference'] === 'cy' else 'en',

      en: { href: '?languagePreference=en' },

      cy: { href: '?languagePreference=cy' }

  })

}}
{% if data['languagePreference'] == "en" %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}

{% else %}

{{ govukBackLink({
  text: "Yn ôl",
  href: "javascript:history.back()"
}) }}

{% endif %}
{% endblock %}
{% block content %}
{% if data['languagePreference'] == "en" %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="../incorrect-info" method="post">
        <h1 class="govuk-heading-l">How many floors are there in you home?</h1>
        <p>For example, for a 2 storey house, enter the number 2</p>
        {{ govukInput({
          
          classes: "govuk-input--width-5 govuk-input--extra-letter-spacing",
          id: "floor-number",
          name: "floornumber",
          spellcheck: false,
          value: "
          "
        }) }}
<div class="govuk-button-group">
  {{ govukButton({
    text: "Continue",
    type: "submit"
  }) }}

  {{ govukButton({
    text: "Cancel",
    classes: "govuk-button--secondary"
  }) }}
</div>

      </form>

    </div>
  </div>
  {% else %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="../incorrect-info" method="post">
        <h1 class="govuk-heading-l">Sawl llawr sydd yn dy gartref?</h1>
        <p>Er enghraifft, ar gyfer tŷ sydd â dau lawr, rho y rhif 2.</p>
        {{ govukInput({
          label: {
            text: "",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: ""
          },
          classes: "govuk-input--width-5 govuk-input--extra-letter-spacing",
          id: "floor-number",
          name: "floornumber",
          spellcheck: false,
          value: "
          "
        }) }}
<div class="govuk-button-group">
  {{ govukButton({
    text: "Ymlaen",
    type: "submit"
  }) }}

  {{ govukButton({
    text: "Canslo",
    classes: "govuk-button--secondary"
  }) }}
</div>

      </form>

    </div>
  </div>
  {% endif %}
{% endblock %}
