{% extends "layouts/main.html" %}

{% block pageTitle %}
Information for: 19, St David's Crescent, Cardiff, CF5 4GP – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{{ hmrcHeader({
  serviceUrl : "/v1-6-1/start?languagePreference=en",
    signOutHref : "?sign-out",
    useTudorCrown: "true"
  }) }}
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Information for:</span>
        19, St David's Crescent, Cardiff, CF5 4GP
      </h1>

      {% set future_changes_table_en %}
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h3 class="govuk-summary-card__title">Update status</h3>
          </div>
          <div class="govuk-summary-card__content">
            {{ govukSummaryList({
              rows: [
                {
                  key: {
                    text: "Status"
                  },
                  value: {
                    text: "Under review"
                  }
                },
                {
                  key: {
                    text: "Submitted"
                  },
                  value: {
                    text: "15 December 2025"
                  }
                },
                {
                  key: {
                    text: "Expected decision"
                  },
                  value: {
                    text: "January 2026"
                  }
                }
              ]
            }) }}
          </div>
        </div>

        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h3 class="govuk-summary-card__title">Submitted changes</h3>
          </div>
          <div class="govuk-summary-card__content">
            <p class="govuk-body">If these changes are accepted, they may affect the Council Tax band.</p>

            {{ govukSummaryList({
              rows: [
                {
                  key: {
                    text: "Bedrooms"
                  },
                  value: {
                    text: "5"
                  }
                },
                {
                  key: {
                    text: "Bathrooms"
                  },
                  value: {
                    text: "2"
                  }
                },
                {
                  key: {
                    text: "Size of home"
                  },
                  value: {
                    text: "110 m² (1184 ft²)"
                  }
                }
              ]
            }) }}
          </div>
        </div>
      {% endset %}

      {% set public_information_table_en %}
        <table class="govuk-table">

          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="width: 25%">Local Council</th>
              <td class="govuk-table__cell" style="width: 30%">
                <a href="https://www.cardiff.gov.uk/ENG/Pages/default.aspx">Cardiff</a>
              </td>
              <td class="govuk-table__cell">
                The Local Council sets the amount of Council Tax you pay each year, based on the band.
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Local Council reference number</th>
              <td class="govuk-table__cell">1103 8000 8111 0001 00</td>
              <td class="govuk-table__cell">
                A reference number for the property.
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Council Tax band</th>
              <td class="govuk-table__cell">D</td>
              <td class="govuk-table__cell">
                The current band for the property. This is based on the property value on 01 April 2003.
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">With effect from</th>
              <td class="govuk-table__cell">9 October 2008</td>
              <td class="govuk-table__cell">
                The date the current band came into effect.
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Improvement indicator</th>
              <td class="govuk-table__cell">Yes</td>
              <td class="govuk-table__cell">
                If a property has been improved or extended since it was placed in a Council Tax band, a Yes will be shown. This means the band will be reviewed and may increase following the sale of the property.
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Mixed-use property</th>
              <td class="govuk-table__cell">No</td>
              <td class="govuk-table__cell">
                A property which is used as a home and a business. For example, a flat above a shop.
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Court code</th>
              <td class="govuk-table__cell">None</td>
              <td class="govuk-table__cell">
                If the Council Tax band has been reviewed by a Valuation Tribunal or High Court, a court code will be shown. The codes are: V - Valuation Tribunal determination, C - Valuation Tribunal confirmation, R - Valuation Tribunal redetermination following High Court referral, D - High Court determination, H - High Court confirmation, E - High Court consent order.
              </td>
            </tr>
          </tbody>
        </table>
      {% endset %}

      {% set property_details_table_en %}
        <table class="govuk-table">

          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="width: 25%">Type of home</th>
              <td class="govuk-table__cell" style="width: 30%">Mid-terraced house</td>
              <td class="govuk-table__cell">
                For example, a detached house, terraced house or flat.
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Size of home</th>
              <td class="govuk-table__cell">90 m² (969 ft²)</td>
              <td class="govuk-table__cell">
                For houses and bungalows, we use external measurements. For flats, we use internal measurements. All measurements are shown in square metres (m²) and square feet (ft²).
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Floors</th>
              <td class="govuk-table__cell">2</td>
              <td class="govuk-table__cell">
                The number of floors in your home, for example 2 floors.
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Bedrooms</th>
              <td class="govuk-table__cell">2</td>
              <td class="govuk-table__cell">
                Includes bedrooms used as a study, home office or playroom.
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Bathrooms</th>
              <td class="govuk-table__cell">1</td>
              <td class="govuk-table__cell">
                With at least a bath or shower, toilet and sink.
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Total rooms</th>
              <td class="govuk-table__cell">4</td>
              <td class="govuk-table__cell">
                All rooms in your home. This includes living rooms and bedrooms, but does not include bathrooms, kitchens, utility rooms and conservatories.
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Parking</th>
              <td class="govuk-table__cell">Street or public parking</td>
              <td class="govuk-table__cell">
                For example, a single garage or parking on a drive.
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Features that may affect value</th>
              <td class="govuk-table__cell">View</td>
              <td class="govuk-table__cell">
                These can be positive or negative, for example the location or view.
              </td>
            </tr>
          </tbody>
        </table>
      {% endset %}

      {{ govukAccordion({
        id: "property-information",
        items: [
          {
            heading: {
              text: "Your property details"
            },
            summary: {
              text: "Only you can see this information"
            },
            content: {
              html: property_details_table_en
            }
          },
          {
            heading: {
              text: "Public information"
            },
            summary: {
              text: "Anybody can view this information"
            },
            content: {
              html: public_information_table_en
            }
          },
          {
            heading: {
              text: "Pending property updates"
            },
            summary: {
              text: "Submitted changes that are under review"
            },
            content: {
              html: future_changes_table_en
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-8">Is this information correct?</h2>
      <p>Tell us if you think any of your property details are incorrect.</p>
      <p>Once you have checked the details of your property, you will have the opportunity to review your Council Tax Band.</p>
      {{ govukButton({
        text: "Review details",
        href: 'incorrect-info'
      }) }}
      <p class="govuk-body">
        <a href="#" class="govuk-link">Exit</a>
      </p>
    </div>
  </div>

{% endblock %}
