{% extends "layouts/main.html" %}

{% block pageTitle %}
Upload evidence – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{{ hmrcHeader({
  serviceUrl : "/v1-6-1/start?languagePreference=en",
    signOutHref : "?sign-out",
    useTudorCrown: "true"
  }) }}
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/v1-6-1/evidence-complete" method="post">

        <h1 class="govuk-heading-l">Upload evidence</h1>

        <p class="govuk-body">Upload documents that show why your Council Tax band should be reviewed. You can upload up to 5 files.</p>

        <div class="govuk-!-margin-bottom-4">
          <p class="govuk-body">Evidence can include:</p>
          <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-2">
            <li>Addresses of up to 5 similar homes in a lower band than yours (same type, size, age and style, in the same street/estate or village/area)</li>
            <li>The price your home or similar homes sold for between 1 April 2001 and 31 March 2005</li>
          </ul>
        </div>

        <div class="govuk-form-group">
          <div id="file-upload-1-hint" class="govuk-hint">
            You can upload JPG, PNG or PDF files. Each file must be smaller than 10MB.
          </div>
          <div class="govuk-drop-zone" data-module="govuk-file-upload">
            <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file" aria-describedby="file-upload-1-hint" aria-label="Upload a file">
          </div>
        </div>

        <p class="govuk-body govuk-!-margin-top-3 govuk-!-margin-bottom-6">
          <a href="#" class="govuk-link">Add another file</a>
        </p>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
