{% extends "layouts/main.html" %}

{% block pageTitle %}
{% if data['languagePreference'] == "en" %}
Are you responsible for the Council Tax on this property? – GOV.UK Prototype Kit

{% else %}
Wyt ti'n gyfrifol am y Dreth Gyngor ar yr eiddo hwn?

{% endif %}
{% endblock %}
{% block header %}
{% if data['languagePreference'] == "en" %}
{{ hmrcHeader({
    serviceUrl : "/v1-5-2/start?languagePreference=en",
    useTudorCrown: "true"
  }) }}

  {% else %}
  {{ hmrcHeader({
    homepageUrl : "/v1-5-2/start?languagePreference=cy",
language : "cy",
    useTudorCrown: true
  }) }}
{% endif %}
{% endblock %}
{% block beforeContent %}

{{

  hmrcLanguageSelect({

      language: 'cy' if data['languagePreference'] === 'cy' else 'en',

      en: { href: '?languagePreference=en' },

      cy: { href: '?languagePreference=cy' }

  })

}}
{% if data['languagePreference'] == "en" %}
{{ govukBackLink({
  text: "Back",
  onclick: "history.back()"
}) }}
{% else %}
{{ govukBackLink({
  text: "Yn ôl",
  onclick: "history.back()"
}) }}
{% endif %}
{% endblock %}

{% block content %}

{% if data['languagePreference'] == "en" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
<form class="form" action="/v1-5-2/liable-check" method="post">
  <span class="govuk-caption-l">19, St David's Crescent, Cardiff, CF5 4GP</span>
<h1 class="govuk-heading-l">Are you responsible for the Council Tax on this property?</h1>
       {{ govukRadios({
        name: "liability",
        
        items: [
          {
            value: "yes",
            text: "Yes"
            
          },
          {
            value: "no",
            text: "No"
          },
          {
            value: "proxy",
            text: "I am acting for someone who is responsible",
            hint: {
              text: "You will need their written permission"
            }
          }
        ]
      }) }}

        {{ govukButton({
          text: "Continue",
          type: "submit"
        }) }}

      </form>

    </div>
  </div>
  {% else %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
<form class="form" action="/v1-5-2/liable-check" method="post">
    <span class="govuk-caption-l">19, St David's Crescent, Cardiff, CF5 4GP</span>
<h1 class="govuk-heading-l">Wyt ti'n gyfrifol am y Dreth Gyngor ar yr eiddo hwn?</h1>
       {{ govukRadios({
        name: "liability",
        items: [
          {
            value: "yes",
            text: "Ydw"
            
          },
          {
            value: "no",
            text: "Nac ydw"
          },
          {
            value: "proxy",
            text: "Rydw i'n gweithredu dros rywun sy'n gyfrifol",
            hint: {
              text: "Bydd angen i ti gael eu caniatâd ysgrifenedig"
            }
          }
        ]
      }) }}

        {{ govukButton({
          text: "Parhau",
          type: "submit"
        }) }}

      </form>

    </div>
  </div>

  {% endif %}
{% endblock %}
