{% extends "layouts/main.html" %}

{% block pageTitle %}
{% if data['languagePreference'] == "en" %}
Enter the property postcode – GOV.UK Prototype Kit
 {% else %}
 Rho god post yr eiddo – GOV.UK Prototype Kit
 {% endif %}
{% endblock %}

{% block header %}
{% if data['languagePreference'] == "en" %}
{{ hmrcHeader({
  homepageUrl : "/v1-5/start?languagePreference=en",

    useTudorCrown: "true"
  }) }}

{% else %}
{{ hmrcHeader({
  homepageUrl : "/v1-5/start?languagePreference=cy",
    useTudorCrown: "true"
  }) }}
  {% endif %}
{% endblock %}

{% block beforeContent %}

{{

  hmrcLanguageSelect({

      language: 'cy' if data['languagePreference'] === 'cy' else 'en',

      en: { href: '?languagePreference=en' },

      cy: { href: '?languagePreference=cy' }

  })

}}
{% if data['languagePreference'] == "en" %}
{{ govukBackLink({
  text: "Back",
  href: "start"
}) }}
{% else %}
{{ govukBackLink({
  text: "Yn ôl",
  href: "start"
}) }}

{% endif %}
{% endblock %}
{% block content %}

{% if data['languagePreference'] == "en" %}

  <div class="govuk-grid-row">
    
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Enter the property postcode
      </h1>
      <p class="govuk-body">You can search for any home in Wales by entering the postcode.</p>
      <form action="search-results?languagePreference=en">
      <fieldset class="govuk-fieldset">
      <div class="govuk-form-group">
        <label class="govuk-label" for="address-postcode">
          Postcode
        </label>
        <div id="address-postcode-hint" class="govuk-hint">
          For example CF10 3NQ
        </div>
        <input class="govuk-input govuk-input--width-10" id="address-postcode" name="addressPostcode" type="text" autocomplete="postal-code">
      </div>
    </fieldset>
    <button type="submit" class="govuk-button" data-module="govuk-button">
      Continue
    </button>
  </form>
    <p><a href="#">I do not know the postcode</a></p>
    </div>
  </div>


  {% else %}
  <div class="govuk-grid-row">
    
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Rho god post yr eiddo
      </h1>
      <p class="govuk-body">Fedri di chwilio am unrhyw gartref yng Nghymru trwy roi cod post yr eiddo.</p>
      <form action="search-results?languagePreference=cy">
      <fieldset class="govuk-fieldset">
      <div class="govuk-form-group">
        <label class="govuk-label" for="address-postcode">
          Cod post
        </label>
        <div id="address-postcode-hint" class="govuk-hint">
          Er enghraifft CF10 3NQ
        </div>
        <input class="govuk-input govuk-input--width-10" id="address-postcode" name="addressPostcode" type="text" autocomplete="postal-code">
      </div>
    </fieldset>
    <button type="submit" class="govuk-button" data-module="govuk-button">
      Parhau
    </button>
  </form>
    <p><a href="#">Dydw i ddim yn gwybod y cod post</a></p>
    </div>
  </div>


  {% endif %}
{% endblock %}
