{% extends "layouts/main.html" %}
{% block header %}
{% if data['languagePreference'] == "en" %}
{{ hmrcHeader({
  homepageUrl : "/v1-3/start_en",
    signOutHref : "?sign-out",
    useTudorCrown: "true"
  }) }}

{% endif %}
{{ hmrcHeader({
  homepageUrl : "/v1-3/start_cy",
    signOutHref : "?sign-out",
    useTudorCrown: "true"
  }) }}
{% endblock %}
{% block pageTitle %}
  Sorry, you're not allowed... – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Sorry, you're not allowed to view more details without a signed form.</h1>
        <p class="govuk-body">ATA form guidance TBD</p>
        <p class="govuk-body">
          You can find more details on the Authority to Act form in this guidance <a class="govuk-link" href="https://www.gov.uk/guidance/council-tax-appeals-on-behalf-of-a-council-tax-payer">here</a>
        </p>
        <p class="govuk-body">
          <a class="govuk-link" href="../property-details">Go back to property details</a>
        </p>
      </div>
    </div>
  </main>
</div>

{% endblock %}
