{% extends "layouts/main.html" %}

<!-- Page title -->
{% block pageTitle %}
  {% if languagePreference == "en" %}
    Which parts of your property are now used as a home? – {{ data['govukTite'] }}

  {% else %}
    Pa rannau o dy eiddo sy'n cael eu defnyddio fel cartref erbyn hyn? – {{ data['govukTite'] }}
  {% endif %}
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <!-- Language selector -->
  {% include "v1-7-1/includes/_hmrcLanguageSelect.html" %}
  <!-- Back link -->
  {% include "v1-7-1/includes/_backLink.html" %}
</div>
{% endblock %}

<!-- Page content -->
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="domestic-when" method="post">
        {% if languagePreference == "en" %}
        <h1 class="govuk-heading-l">Which parts of your property are now used as a home?</h1>
        {{ govukTextarea({
          id: "domestic-reason",
          name: "domestic-reason",
          hint: {
            text: "For example, you have converted part of a café back into a living space. Provide as much detail as
          possible."
          }
        }) }}
        <button class="govuk-button" data-module="govuk-button">Continue</button>
        
        {% else %}
        <h1 class="govuk-heading-l">Pa rannau o dy eiddo sy'n cael eu defnyddio fel cartref erbyn hyn?</h1>
        {{ govukTextarea({
          id: "domestic-reason",
          name: "domestic-reason",
          hint: {
            text: "Er enghraifft, rwyt ti wedi cyfuno rhan o gaffi yn ôl yn lle i fyw. Rho gymaint o wybodaeth â phosibl."
          }
        }) }}
        <button class="govuk-button" data-module="govuk-button">Parhau</button>
        {% endif %}
      </form>
    </div>
  </div>

{% endblock %}
