{% extends "layouts/main-session.html" %}

<!-- Page title -->
{% block pageTitle %}
  {% if data['languagePreference'] == "en" %}
    What permanent changes have taken place in your local area? – {{ data['govukTitle'] }}

  {% else %}
    Pa newidiadau parhaol sydd wedi digwydd yn dy ardal lleol? – {{ data['govukTitle'] }}
  {% endif %}
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <!-- Language selector -->
  {% include "v1-7-1/includes/_hmrcLanguageSelect.html" %}
  <!-- Back link -->
  {% include "v1-7-1/includes/_backLink.html" %}
</div>
{% endblock %}

<!-- Page content -->
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <form action="local-area-when" method="post">
      {% if data['languagePreference'] == "en" %}
      <h1 class="govuk-heading-l">What permanent changes have taken place in your local area?</h1>
      {{ govukTextarea({
        id: "local-area-reason",
        name: "local-area-reason",

        hint: {
          text: "For example, a new supermarket or motorway has been built that you believe has affected the value of your
          home. Provide as much detail as possible."
      }
      }) }}
      <button class="govuk-button" data-module="govuk-button">Continue</button>
      
      {% else %}
      <h1 class="govuk-heading-l">Pa newidiadau parhaol sydd wedi digwydd yn dy ardal lleol?</h1>
      {{ govukTextarea({
        id: "local-area-reason",
        name: "local-area-reason",
        hint: {
          text: "Er enghraifft, mae archfarchnad newydd neu draffordd wedi'i adeiladu, ac rwyt ti’n credu ei bod wedi
          effeithio ar werth dy gartref. Rho gymaint o wybodaeth â phosibl."
        }
      }) }}
      <button class="govuk-button" data-module="govuk-button">Parhau</button>
      {% endif %}
    </form>
  </div>
</div>

{% endblock %}
