{% extends "layouts/main-session.html" %}

<!-- Page title -->
{% block pageTitle %}
  {% if data['languagePreference'] == "en" %}
    When was the work to merge your properties completed? – {{ data['govukTitle'] }}

  {% else %}
    Pryd wnaeth y gwaith o gyfuno dy gartref orffen? – {{ data['govukTitle'] }}
  {% endif %}
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <!-- Language selector -->
  {% include "v1-7-1/includes/_hmrcLanguageSelect.html" %}
  <!-- Back link -->
  {% include "v1-7-1/includes/_backLink.html" %}
</div>
{% endblock %}

<!-- Page content -->
{% block content %}

   <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="new-address" method="post">
      {% if data['languagePreference'] == "en" %}
        {{ govukDateInput({
          id: "merged-property-start",
          namePrefix: "merged-property-start",
          fieldset: {
            legend: {
              text: "When was the work to merge your properties completed?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "For example, if the work was completed on 27 April 2025, enter 27 4 2025."
          }
        }) }}
        <button class="govuk-button" data-module="govuk-button">Continue</button>

        {% else %}
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" role="group" aria-describedby="notice-issued-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-fieldset__heading">
                  Pryd wnaeth y gwaith o gyfuno dy gartref orffen?
                  </h1>
                </legend>
                <div id="notice-issued-hint" class="govuk-hint">
                  Er enghraifft, os wnaeth y gwaith orffen ar 27 Ebrill 2025, rhowch 27 4 2025.
                </div>
                <div class="govuk-date-input" id="notice-issued">
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="notice-issued-day">
                        Dydd
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="notice-issued-day" name="notice-issued-day" type="text" inputmode="numeric">
                    </div>
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="notice-issued-month">
                        Mis
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="notice-issued-month" name="notice-issued-month" type="text" inputmode="numeric">
                    </div>
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="notice-issued-year">
                        Blwyddyn
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="notice-issued-year" name="notice-issued-year" type="text" inputmode="numeric">
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
        <button class="govuk-button" data-module="govuk-button">Parhau</button>
      {% endif %}
      </form>
    </div>
</div>


{% endblock %}
