{% extends "layouts/main.html" %}

{% block pageTitle %}
List of v1.6 prototype pages – Council Tax Wales Reform – GOV.UK
{% endblock %}

{% block content %}
<h1 class="govuk-heading-xl">List of v1.6 prototype pages</h1>

<p class="govuk-body govuk-hint">
  This index is for the delivery team and user researchers – it is not part of the public service and only covers version 1.6 of the prototype.
</p>

<h2 class="govuk-heading-m">Property details pages</h2>
<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
  <li>
    <a href="property-details/property-details-cards-placeholders.html?languagePreference=en">Summary cards (English)</a>
    |
    <a href="property-details/property-details-cards-placeholders.html?languagePreference=cy">
      Cymraeg<span class="govuk-visually-hidden"> – Summary cards</span>
    </a>
  </li>
  <li>
    <a href="property-details/property-details-tabs.html?languagePreference=en">Tabs layout (English)</a>
    |
    <a href="property-details/property-details-tabs.html?languagePreference=cy">
      Cymraeg<span class="govuk-visually-hidden"> – Tabs layout</span>
    </a>
  </li>
  <li>
    <a href="property-details/property-details-tags.html?languagePreference=en">Combined table with privacy tags (English)</a>
    |
    <a href="property-details/property-details-tags.html?languagePreference=cy">
      Cymraeg<span class="govuk-visually-hidden"> – Combined table with privacy tags</span>
    </a>
  </li>
  <li>
    <a href="property-details/property-details-accordions.html?languagePreference=en">Accordions with hint text definitions (English)</a>
    |
    <a href="property-details/property-details-accordions.html?languagePreference=cy">
      Cymraeg<span class="govuk-visually-hidden"> – Accordions with hint text definitions</span>
    </a>
  </li>
</ul>

<h2 class="govuk-heading-m">Formal/Informal challenge</h2>

<h3 class="govuk-heading-s">Start page</h3>
<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
  <li>
    <a href="formal-informal/think-band-wrong-prose.html?languagePreference=en">Comparison table (English)</a>
    |
    <a href="formal-informal/think-band-wrong-prose.html?languagePreference=cy">
      Cymraeg<span class="govuk-visually-hidden"> – Comparison table</span>
    </a>
  </li>
  <li>
    <a href="formal-informal/think-band-wrong-accordion.html?languagePreference=en">Accordion format (English)</a>
    |
    <a href="formal-informal/think-band-wrong-accordion.html?languagePreference=cy">
      Cymraeg<span class="govuk-visually-hidden"> – Accordion format</span>
    </a>
  </li>
</ul>

<h3 class="govuk-heading-s">Main concepts for journey</h3>
<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
    <li>
    <a href="formal-informal/challenge?languagePreference=en">Start - Do you want us to review your Council Tax band? (English)</a>
    |
    <a href="formal-informal/challenge?languagePreference=cy">
      Cymraeg<span class="govuk-visually-hidden"> – Start - Do you want us to review your Council Tax band?</span>
    </a>
  </li>
      <li>
    <a href="formal-informal/scenario?languagePreference=en">Which applies to you? (English)
</a>
    |
    <a href="formal-informal/scenario?languagePreference=cy">
      Cymraeg<span class="govuk-visually-hidden"> – Which applies to you?</span>
    </a>
  </li>
  </ul>
<h3 class="govuk-heading-s">'Which applies to you?' answers</h3>
<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
    <li>
    <a href="formal-informal/option1?languagePreference=en">User picked 'I’ve been responsible for paying Council Tax for less than 6 months' (English)</a>
    |
    <a href="formal-informal/option2?languagePreference=cy">
      Cymraeg<span class="govuk-visually-hidden"> – User picked 'I’ve been responsible for paying Council Tax for less than 6 months'</span>
    </a>
  </li> 
  <li>
    <a href="formal-informal/option2?languagePreference=en">User picked 'I’ve been responsible for paying Council Tax for more than 6 months' (English)</a>
    |
    <a href="formal-informal/option2?languagePreference=cy">
      Cymraeg<span class="govuk-visually-hidden"> – User picked 'I’ve been responsible for paying Council Tax for more than 6 months'</span>
    </a>
  </li> 
    <li>
    <a href="formal-informal/option3?languagePreference=en">User picked 'My Council Tax band was changed by the Valuation Office Agency (VOA) in the last 6 months' (English)</a>
    |
    <a href="formal-informal/option3?languagePreference=cy">
      Cymraeg<span class="govuk-visually-hidden"> – User picked 'I’ve been responsible for paying Council Tax for more than 6 months'</span>
    </a>
  </li> 
    <li>
    <a href="formal-informal/option4?languagePreference=en">User picked 'There have been changes made to the property or in the local area' (English)</a>
    |
    <a href="formal-informal/option4?languagePreference=cy">
      Cymraeg<span class="govuk-visually-hidden"> – User picked 'I’ve been responsible for paying Council Tax for more than 6 months'</span>
    </a>
  </li> 

  <!--<li>
    <a href="formal-informal/think-band-wrong-table-radios.html?languagePreference=en">Table with radio buttons (English)</a>
    |
    <a href="formal-informal/think-band-wrong-table-radios.html?languagePreference=cy">
      Cymraeg<span class="govuk-visually-hidden"> – Table with radio buttons</span>
    </a>
  </li>
  <li>
    <a href="formal-informal/think-band-wrong-accordion-radios.html?languagePreference=en">Accordion with radio buttons (English)</a>
    |
    <a href="formal-informal/think-band-wrong-accordion-radios.html?languagePreference=cy">
      Cymraeg<span class="govuk-visually-hidden"> – Accordion with radio buttons</span>
    </a>
  </li>-->
</ul>

<h2 class="govuk-heading-m">Self-certification</h2>

<h3 class="govuk-heading-s">Main concepts</h3>
<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
  <li>
    <a href="self-cert/self-cert.html?languagePreference=en">Self-certification page (English)</a>
    |
    <a href="self-cert/self-cert.html?languagePreference=cy">
      Cymraeg<span class="govuk-visually-hidden"> – Self-certification page</span>
    </a>
  </li>
  <li>
    <a href="self-cert/self-cert-conditional.html?languagePreference=en">Self-certification with conditional field (English)</a>
    |
    <a href="self-cert/self-cert-conditional.html?languagePreference=cy">
      Cymraeg<span class="govuk-visually-hidden"> – Self-certification with conditional field</span>
    </a>
  </li>
</ul>

<h3 class="govuk-heading-s">Supporting pages</h3>
<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
  <li>
    <a href="self-cert/selfcert-way.html?languagePreference=en">Self-cert overview / “way in” (English)</a>
    |
    <a href="self-cert/selfcert-way.html?languagePreference=cy">
      Cymraeg<span class="govuk-visually-hidden"> – Self-cert overview / “way in”</span>
    </a>
  </li>
  <li>
    <a href="self-cert/verify-liability.html?languagePreference=en">Verify your liability (English)</a>
    |
    <a href="self-cert/verify-liability.html?languagePreference=cy">
      Cymraeg<span class="govuk-visually-hidden"> – Verify your liability</span>
    </a>
  </li>
  <li>
    <a href="self-cert/upload-bill.html?languagePreference=en">Upload Council Tax bill (English)</a>
    |
    <a href="self-cert/upload-bill.html?languagePreference=cy">
      Cymraeg<span class="govuk-visually-hidden"> – Upload Council Tax bill</span>
    </a>
  </li>
</ul>

<h2 class="govuk-heading-m">General supporting pages</h2>
<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
  <li>
    <a href="glossary.html?languagePreference=en">Glossary (English)</a>
    |
    <a href="glossary.html?languagePreference=cy">
      Cymraeg<span class="govuk-visually-hidden"> – Glossary</span>
    </a>
  </li>
</ul>

{% endblock %}
