{% extends "layouts/main.html" %}

{% block pageTitle %}
{% if data['languagePreference'] == "en" %}
What type of property is your home? – GOV.UK Prototype Kit
{% else %}
Pa fath o eiddo yw dy gartref? – GOV.UK Prototype Kit
{% endif %}
{% endblock %}
{% block header %}
{% if data['languagePreference'] == "en" %}
{{ hmrcHeader({
  homepageUrl : "/v1-5-2/start?languagePreference=en",
    signOutHref : "?sign-out",
    useTudorCrown: "true"
  }) }}

{% else %}
{{ hmrcHeader({
  homepageUrl : "/v1-5-2/start?languagePreference=cy",
    language : "cy",
    signOutHref : "?sign-out",
    useTudorCrown: "true"
  }) }}
  {% endif %}
{% endblock %}
{% block beforeContent %}

{{

  hmrcLanguageSelect({

      language: 'cy' if data['languagePreference'] === 'cy' else 'en',

      en: { href: '?languagePreference=en' },

      cy: { href: '?languagePreference=cy' }

  })

}}
{% if data['languagePreference'] == "en" %}
{{ govukBackLink({
  text: "Back",
  href: "../property-type?languagePreference=en"
}) }}
{% else %}
{{ govukBackLink({
  text: "Yn ôl",
  href: "../property-type?languagePreference=cy"
}) }}

{% endif %}
{% endblock %}

{% block content %}
{% if data['languagePreference'] == "en" %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="../../incorrect-info-change" method="post">
        {{ govukRadios({
          name: "signIn",
          fieldset: {
            legend: {
              text: "What type of flat or apartment is your home?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [

          {
            value: "block",
            text: "Flat in a block"
          },
          {
            value: "conv",
            text: "Flat in converted or shared house"
          },
          {
            value: "indu",
            text: "Flat in converted or shared commercial or industrial building"
            
          }
          ]
        }) }}
<div class="govuk-button-group">
  {{ govukButton({
    text: "Continue",
    type: "submit"
  }) }}

  {{ govukButton({
    text: "Cancel",
    classes: "govuk-button--secondary"
  }) }}
</div>

      </form>

    </div>
  </div>
  {% else %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="../../incorrect-info-change" method="post">
        {{ govukRadios({
          name: "signIn",
          fieldset: {
            legend: {
              text: "Pa fath o fflat yw dy gartref?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [

          {
            value: "block",
            text: "Fflat mewn bloc"
          },
          {
            value: "conv",
            text: "Fflat mewn tŷ wedi'i addasu neu ei rannu"
          },
          {
            value: "indu",
            text: "Fflat mewn adeilad masnachol neu ddiwydiannol wedi’i addasu neu ei rannu"
            
          }
          ]
        }) }}
<div class="govuk-button-group">
  {{ govukButton({
    text: "Parhau",
    type: "submit"
  }) }}

  {{ govukButton({
    text: "Canslo",
    classes: "govuk-button--secondary"
  }) }}
</div>

      </form>

    </div>
  </div>
  {% endif %}
{% endblock %}
