{% extends "layouts/main.html" %}

{% block pageTitle %}
{% if data['languagePreference'] == "en" %}
Which parts of your home have been demolished? – GOV.UK Prototype Kit
 {% else %}
Pa rannau o dy gartref sydd wedi eu dymchwel? – GOV.UK Prototype Kit
 {% endif %}
{% endblock %}

{% block header %}
{% if data['languagePreference'] == "en" %}
{{ hmrcHeader({
  homepageUrl : "/v1-5-2/start?languagePreference=en",
    signOutHref : "?sign-out",
    useTudorCrown: "true"
  }) }}

{% else %}
{{ hmrcHeader({
  homepageUrl : "/v1-5-2/start?languagePreference=cy",
    language : "cy",
    signOutHref : "?sign-out",
    useTudorCrown: "true"
  }) }}
  {% endif %}
{% endblock %}

{% block beforeContent %}

{{

  hmrcLanguageSelect({

      language: 'cy' if data['languagePreference'] === 'cy' else 'en',

      en: { href: '?languagePreference=en' },

      cy: { href: '?languagePreference=cy' }

  })

}}
{% if data['languagePreference'] == "en" %}
{{ govukBackLink({
  text: "Back",
  href: "../changes?languagePreference=en"
}) }}
{% else %}
{{ govukBackLink({
  text: "Yn ôl",
  href: "../changes?languagePreference=cy"
}) }}

{% endif %}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
<form action="part-demolished-when" method="post">
{% if data['languagePreference'] == "en" %}
  <h1 class="govuk-heading-l">Which parts of your home have been demolished?</h1>
  {{ govukTextarea({
    id: "part-demolished-reason",
    name: "part-demolished-reason",

    hint: {
      text: "For example, an extension, conservatory or another part of your home has been demolished. Provide as much detail as possible."
    }
  }) }}
  <button class="govuk-button" data-module="govuk-button">Continue</button>
{% else %}
  <h1 class="govuk-heading-l">Pa rannau o dy gartref sydd wedi eu dymchwel?</h1>
  {{ govukTextarea({
    id: "part-demolished-reason",
    name: "part-demolished-reason",
    hint: {
      text: "Er enghraifft, mae estyniad, heulfan neu rhan arall o dy gartref wedi cael ei ddymchwel. Rho gymaint o wybodaeth â phosibl."
    }
  }) }}
  <button class="govuk-button" data-module="govuk-button">Parhau</button>
{% endif %}
</form>
    </div>
    </div>
{% endblock %}
