{% extends "layouts/main.html" %}

<!-- Page title -->
{% block pageTitle %}
  {% if data['languagePreference'] == "en" %}
    What type of maisonette is your home? – {{ data['govukTite'] }}

  {% else %}
    Pa fath o fflat deulawr yw dy gartref? – {{ data['govukTite'] }}
  {% endif %}
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <!-- Language selector -->
  {% include "v1-7-1/includes/_hmrcLanguageSelect.html" %}
  <!-- Back link -->
  {% include "v1-7-1/includes/_backLink.html" %}
</div>
{% endblock %}

<!-- Page content -->
{% block content %}

{% if data['languagePreference'] == "en" %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="../../incorrect-info-change" method="post">
        {{ govukRadios({
          name: "signIn",
          fieldset: {
            legend: {
              text: "What type of maisonette is your home?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [

          {
            value: "mblock",
            text: "Maisonette in a block"
          },
          {
            value: "mconv",
            text: "Maisonette in a converted or shared house"
          },
          {
            value: "mindu",
            text: "Maisonette in a converted or shared commercial/industrial building"
            
          }
          ]
        }) }}
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue",
            type: "submit"
          }) }}

          {{ govukButton({
            text: "Cancel",
            classes: "govuk-button--secondary"
          }) }}
        </div>

      </form>

    </div>
  </div>
  {% else %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="../../incorrect-info-change" method="post">
        {{ govukRadios({
          name: "signIn",
          fieldset: {
            legend: {
              text: "Pa fath o fflat deulawr yw dy gartref?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [

          {
            value: "mblock",
            text: "Fflat deulawr mewn bloc"
          },
          {
            value: "mconv",
            text: "Fflat deulawr mewn tŷ wedi'i addasu neu ei rannu"
          },
          {
            value: "mindu",
            text: "Fflat deulawr mewn adeilad masnachol neu ddiwydiannol wedi’i addasu neu ei rannu"
            
          }
          ]
        }) }}
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Parhau",
            type: "submit"
          }) }}

          {{ govukButton({
            text: "Canslo",
            classes: "govuk-button--secondary"
          }) }}
        </div>

      </form>

    </div>
  </div>
  {% endif %}


{% endblock %}
