{% extends "layouts/main.html" %}

{% block pageTitle %}
{% if data['languagePreference'] == "en" %}
What type of property is your home? – {{ serviceName }} – GOV.UK Prototype Kit
{% else %}
Pa fath o eiddo yw dy gartref? – {{ serviceName }} – GOV.UK Prototype Kit
{% endif %}
{% endblock %}

{% block header %}
{% if data['languagePreference'] == "en" %}
{{ hmrcHeader({
  homepageUrl : "/v1-3/start_en",
    signOutHref : "?sign-out",
    useTudorCrown: "true"
  }) }}

{% else %}
{{ hmrcHeader({
  homepageUrl : "/v1-3/start_cy",
    signOutHref : "?sign-out",
    useTudorCrown: "true"
  }) }}
  {% endif %}
{% endblock %}

{% block beforeContent %}

{{

  hmrcLanguageSelect({

      language: 'cy' if data['languagePreference'] === 'cy' else 'en',

      en: { href: '?languagePreference=en' },

      cy: { href: '?languagePreference=cy' }

  })

}}
{% if data['languagePreference'] == "en" %}
{{ govukBackLink({
  text: "Back",
  href: "../property-type?languagePreference=en"
}) }}
{% else %}
{{ govukBackLink({
  text: "Yn ôl",
  href: "../property-type?languagePreference=cy"
}) }}

{% endif %}
{% endblock %}

{% block content %}
{% if data['languagePreference'] == "en" %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="../../incorrect-info" method="post">
        {{ govukRadios({
          name: "other",
          fieldset: {
            legend: {
              text: "What type of property is your home?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [

          {
            value: "parkh",
            text: "Park home or mobile home"
          },
          {
            value: "caravan",
            text: "Caravan"
          },
          {
            value: "boat",
            text: "Houseboat"
            
          },
          {
            value: "other",
            text: "Other"
            
          }
          ]
        }) }}
<div class="govuk-button-group">
  {{ govukButton({
    text: "Continue",
    type: "submit"
  }) }}

  {{ govukButton({
    text: "Cancel",
    classes: "govuk-button--secondary"
  }) }}
</div>

      </form>

    </div>
  </div>
  {% else %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="../../incorrect-info" method="post">
        {{ govukRadios({
          name: "other",
          fieldset: {
            legend: {
              text: "Pa fath o eiddo yw dy gartref?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [

          {
            value: "house",
            text: "Cartref parc neu gartref symudol"
          },
          {
            value: "flat",
            text: "Carafán"
          },
          {
            value: "maisonette",
            text: "Cwch preswyl"
            
          },
          {
            value: "bungalow",
            text: "Arall"
            
          }
          ]
        }) }}
<div class="govuk-button-group">
  {{ govukButton({
    text: "Ymlaen",
    type: "submit"
  }) }}

  {{ govukButton({
    text: "Canslo",
    classes: "govuk-button--secondary"
  }) }}
</div>

      </form>

    </div>
  </div>
  {% endif %}
{% endblock %}
