{% extends "layouts/main.html" %}

<!-- Page title -->
{% block pageTitle %}
  {% if languagePreference == "en" %}
    You do not have permission to view more details – {{ data['govukTite'] }}

  {% else %}
    Does gen ti ddim caniatâd i weld rhagor o fanylion – {{ data['govukTite'] }}
  {% endif %}
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <!-- Language selector -->
  {% include "v1-7-1/includes/_hmrcLanguageSelect.html" %}
</div>
{% endblock %}

<!-- Page content -->
{% block content %}
{% if languagePreference == "en" %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">You do not have permission to view more details</h1>
        <p class="govuk-body">Only people who are responsible for the Council Tax on this property have permission to view more details. This includes people acting for someone who is responsible.</p>

        <p class="govuk-body">
          <a class="govuk-link" href="../property-details">Back to property details</a>
        </p>
      </div>
    </div>
  </main>
</div>
{% else %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Does gen ti ddim caniatâd i weld rhagor o fanylion</h1>
        <p class="govuk-body">Dim ond pobl sy’n gyfrifol am y Dreth Gyngor ar eiddo sydd â chaniatâd i weld rhagor o fanylion. Mae hyn yn cynnwys pobl sy'n gweithredu dros rywun sydd yn gyfrifol.</p>

        <p class="govuk-body">
          <a class="govuk-link" href="../property-details">Yn ôl at fanylion yr eiddo</a>
        </p>
      </div>
    </div>
  </main>
</div>
{% endif %}


{% endblock %}
