{% extends "layouts/main.html" %}

{% block header %}
{% if data['languagePreference'] == "en" %}
{{ hmrcHeader({
  homepageUrl : "/v1-3/start_en",
    signOutHref : "?sign-out",
    useTudorCrown: "true"
  }) }}

{% else %}
{{ hmrcHeader({
  homepageUrl : "/v1-3/start_cy",
    signOutHref : "?sign-out",
    useTudorCrown: "true"
  }) }}
  {% endif %}
{% endblock %}

{% block pageTitle %}
{% if data['languagePreference'] == "en" %}
Update my property details – {{ serviceName }} – GOV.UK Prototype Kit
{% else %}
Diweddaru gwybodaeth am fy eiddo – {{ serviceName }} – GOV.UK Prototype Kit
{% endif %}
{% endblock %}

{% block beforeContent %}

{{

  hmrcLanguageSelect({

      language: 'cy' if data['languagePreference'] === 'cy' else 'en',

      en: { href: '?languagePreference=en' },

      cy: { href: '?languagePreference=cy' }

  })

}}
{% if data['languagePreference'] == "en" %}
{{ govukBackLink({
  text: "Back",
  href: "let-us-know?languagePreference=en"
}) }}
{% else %}
{{ govukBackLink({
  text: "Yn ôl",
  href: "let-us-know?languagePreference=cy"
}) }}

{% endif %}
{% endblock %}

{% block content %}
{% if data['languagePreference'] == "en" %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
        Update my property details
      </h1>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Address"
            },
            value: {
              text: "1, Lon Helen, Caernarfon, LL55 2EW"
            }
          }
          ,
          {
            key: {
              text: "Council Tax band"
            },
            value: {
              text: "B"
            }
          }
          ,
          {
            key: {
              text: "Local Council"
            },
            value: {
              text: "Gwynedd "
            }
          }
          ,
          {
            key: {
              text: "Local Council reference number"
            },
            value: {
              text: "110380008111000100"
            }
          },
          {
            key: {
              text: "Improvement indicator"
            },
            value: {
              text: "	No"
            }
          },
          {
            key: {
              text: "With effect from"
            },
            value: {
              text: "9 October 2008"
            },
            actions: {
              items: [
                {
                  href: "",
                  text: "Change",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          },
          {
            key: {
              text: "Mixed-use property"
            },
            value: {
              text: "No"
            },
            actions: {
              items: [
                {
                  href: "correct/mixed-use",
                  text: "Change",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          },
          {
            key: {
              text: "Court code"
            },
            value: {
              text: "None"
            }
          }
        ]
      }) }}
      <h2 class="govuk-heading-m">Property details</h2>
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Total rooms"
            },
            value: {
              text: "4"
            },
            actions: {
              items: [
                {
                  href: "correct/rooms",
                  text: "Change",
                  visuallyHiddenText: "Question 2"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Bedrooms"
            },
            value: {
              text: "2"
            },
            actions: {
              items: [
                {
                  href: "correct/bedrooms",
                  text: "Change",
                  visuallyHiddenText: "Question 2"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Bathrooms"
            },
            value: {
              text: "1"
            },
            actions: {
              items: [
                {
                  href: "correct/bathrooms",
                  text: "Change",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Type of home"
            },
            value: {
              text: "Mid-terraced house"
            },
            actions: {
              items: [
                {
                  href: "correct/property-type",
                  text: "Change",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          },
          {
            key: {
              text: "Size of home"
            },
            value: {
              text: "90 m²"
            },
            actions: {
              items: [
                {
                  href: "correct/area",
                  text: "Change",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          },
          
          {
            key: {
              text: "Floors"
            },
            value: {
              text: "	2"
            },
            actions: {
              items: [
                {
                  href: "correct/floor-house",
                  text: "Change",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          },
          {
            key: {
              text: "Parking"
            },
            value: {
              text: "Street or public parking"
            },
            actions: {
              items: [
                {
                  href: "correct/parking",
                  text: "Change",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          },
          {
            key: {
              text: "Features that may affect value"
            },
            value: {
              text: "View"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">
        Review your changes
      </h2>

      <p>
        These are the changes you have asked us to look at.
      </p>

      <form action="correct/check-answers" method="post" novalidate>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
  {% else %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
        Diweddaru gwybodaeth am fy eiddo
      </h1>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Cyfeiriad"
            },
            value: {
              text: "1, Lon Helen, Caernarfon, LL55 2EW"
            }
          }
          ,
          {
            key: {
              text: "Band Treth Gyngor"
            },
            value: {
              text: "B"
            }
          }
          ,
          {
            key: {
              text: "Cyngor Lleol"
            },
            value: {
              text: "Gwynedd"
            }
          }
          ,
          {
            key: {
              text: "Cyfeirnod y Cyngor Lleol"
            },
            value: {
              text: "110380008111000100"
            }
          },
          {
            key: {
              text: "Dangosydd gwelliant"
            },
            value: {
              text: "Nac oes"
            }
          },
          {
            key: {
              text: "Dyddiad dod i rym"
            },
            value: {
              text: "9 Hydref 2008"
            },
            actions: {
              items: [
                {
                  href: "",
                  text: "Newid",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          },
          {
            key: {
              text: "Eiddo defnydd cymysg"
            },
            value: {
              text: "Nac oes"
            },
            actions: {
              items: [
                {
                  href: "correct/mixed-use",
                  text: "Newid",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          },
          {
            key: {
              text: "Cod y Llys"
            },
            value: {
              text: "Dim"
            }
          }
        ]
      }) }}
      <h2 class="govuk-heading-m">Manylion dy eiddo</h2>
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Pob ystafell"
            },
            value: {
              text: "4"
            },
            actions: {
              items: [
                {
                  href: "correct/rooms",
                  text: "Newid",
                  visuallyHiddenText: "Question 2"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Ystafelloedd gwely"
            },
            value: {
              text: "2"
            },
            actions: {
              items: [
                {
                  href: "correct/bedrooms",
                  text: "Newid",
                  visuallyHiddenText: "Question 2"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Ystafelloedd ymolchi"
            },
            value: {
              text: "1"
            },
            actions: {
              items: [
                {
                  href: "correct/bathrooms",
                  text: "Newid",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Math o gartref"
            },
            value: {
              text: "Tŷ canol teras"
            },
            actions: {
              items: [
                {
                  href: "correct/property-type",
                  text: "Newid",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          },
          {
            key: {
              text: "Maint y cartref"
            },
            value: {
              text: "90 m²"
            },
            actions: {
              items: [
                {
                  href: "correct/area",
                  text: "Newid",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          },
          {
            key: {
              text: "Lloriau"
            },
            value: {
              text: "2"
            },
            actions: {
              items: [
                {
                  href: "correct/floor-house",
                  text: "Newid",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          },
          {
            key: {
              text: "Parcio"
            },
            value: {
              text: "Parcio cyhoeddus"
            },
            actions: {
              items: [
                {
                  href: "correct/parking",
                  text: "Newid",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          },
          {
            key: {
              text: "Pethau sy'n gallu effeithio ar werth dy gartref"
            },
            value: {
              text: "Yr olygfa"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Newid",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">
        Adolygu dy newidiadau
      </h2>

      <p>
        Dyma'r newidiadau rwyt ti wedi gofyn i ni edrych arnynt.
      </p>

      <form action="correct/check-answers" method="post" novalidate>

        {{ govukButton({
          text: "Ymlaen"
        }) }}

      </form>

    </div>
  </div>
  {% endif %}
{% endblock %}
