{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<h2 class="govuk-heading-xl">List of pages</h2>
<ul class="govuk-list govuk-list--bullet">
  <li><a href="property-details-extended.html">Property details (post login)</a></li>
  <li><a href="property-details.html">Property details</a></li>
  <li><a href="search-results.html">Search results</a></li>
  <li><a href="confirm-incorrect.html">Confirmation page</a></li>
  <li><a href="search.html">Search</a></li>
  <li><a href="self-cert.html">Self certification question</a></li>
  <li><a href="start_cy.html">Start page (Welsh)</a></li>
  <li><a href="start_en.html">Start page (English)</a></li>
  <li><a href="gov-gateway.html">Government Gateway</a></li>
  <li><a href="incorrect-info.html">Update property details</a></li>
  <li><a href="let-us-know.html">Decision point (Update/Challenge)</a></li>
</ul>

<h3 class="govuk-heading-s">Details questions</h3>
<ul class="govuk-list govuk-list--bullet">
  <li><a href="correct/area.html">Area</a></li>
  <li><a href="correct/bathrooms.html">Bathrooms</a></li>
  <li><a href="correct/bedrooms.html">Bedrooms</a></li>
  <li><a href="correct/check-answers.html">Review your changes</a></li>
  <li><a href="correct/floor-house.html">Floors (house)</a></li>
  <li><a href="correct/floor-level.html">Floor levels</a></li>
  <li><a href="correct/mixed-use.html">Mixed use property</a></li>
  <li><a href="correct/parking.html">Parking</a></li>
  <li><a href="correct/parking-spot.html">Parking </a></li>
  <li><a href="correct/property-type.html">Property type</a></li>
  <li><a href="correct/rooms.html">Rooms</a></li>
</ul>

<h3 class="govuk-heading-s">Errors Pages</h3>
<ul class="govuk-list govuk-list--bullet">
  <li><a href="errors/no-liable.html">User is not liable for CT</a></li>
</ul>
<h3 class="govuk-heading-s">Property Type Questions</h3>
<ul class="govuk-list govuk-list--bullet">
  <li><a href="correct/type/bungalow">Bungalow</a></li>
  <li><a href="correct/type/flat">Flat</a></li>
  <li><a href="correct/type/house">House</a></li>
  <li><a href="correct/type/maisonette">Maisonette</a></li>
  <li><a href="correct/type/other">Other</a></li>
</ul>
{% endblock %}
