{% extends "layouts/main.html" %}

{% block pageTitle %}
{% if data['languagePreference'] == "en" %}
  What details are used to decide a band – GOV.UK Prototype Kit
{% else %}
  Pa fanylion sy'n cael eu defnyddio i benderfynu band – GOV.UK Prototype Kit
{% endif %}
{% endblock %}

{% block header %}
{% if data['languagePreference'] == "en" %}
{{ hmrcHeader({
  homepageUrl : "/v1-5-2/start?languagePreference=en",

    useTudorCrown: "true"
  }) }}

{% else %}
{{ hmrcHeader({
  homepageUrl : "/v1-5-2/start?languagePreference=cy",

    useTudorCrown: "true"
  }) }}
  {% endif %}
{% endblock %}
{% block beforeContent %}

{% if data['languagePreference'] == "en" %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "#"
    },
    {
      text: "Housing and local services",
      href: "#"
    },
    {
      text: "Council Tax"
    }
  ]
}) }}
{% else %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Hafan",
      href: "#"
    },
    {
      text: "Tai a gwasanaethau lleol",
      href: "#"
    },
    {
      text: "Treth Gyngor"
    }
  ]
}) }}
{% endif %}

{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if data['languagePreference'] == "en" %}
      <h1 class="govuk-heading-xl">Check and review your Council Tax band</h1>

      <nav data-module="ga4-link-tracker" aria-label="Contents" class="gem-c-contents-list govuk-!-margin-bottom-4">
        <h2 class="gem-c-contents-list__title">Contents</h2>
        <ol class="gem-c-contents-list__list">
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
            <a class="gem-c-contents-list__link govuk-link gem-print-force-link-styles govuk-link--no-underline" href="../start"><span class="govuk-visually-hidden">Contents: </span>Check your Council Tax band</a>
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
            <a class="gem-c-contents-list__link govuk-link gem-print-force-link-styles govuk-link--no-underline" href="how-bands-decided"><span class="govuk-visually-hidden">Contents: </span>How Council Tax bands are decided</a>
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--active">
            <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
            What details are used to decide a band
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
            <a class="gem-c-contents-list__link govuk-link gem-print-force-link-styles govuk-link--no-underline" href="check-update-property"><span class="govuk-visually-hidden">Contents: </span>Checking and updating the details of your home</a>
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
            <a class="gem-c-contents-list__link govuk-link gem-print-force-link-styles govuk-link--no-underline" href="changes-affect-band"><span class="govuk-visually-hidden">Contents: </span>What can affect the band a home is in</a>
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
            <a class="gem-c-contents-list__link govuk-link gem-print-force-link-styles govuk-link--no-underline" href="think-band-wrong"><span class="govuk-visually-hidden">Contents: </span>I think my Council Tax band is wrong</a>
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
            <a class="gem-c-contents-list__link govuk-link gem-print-force-link-styles govuk-link--no-underline" href="role-voa-council"><span class="govuk-visually-hidden">Contents: </span>What the VOA and your local council do</a>
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
            <a class="gem-c-contents-list__link govuk-link gem-print-force-link-styles govuk-link--no-underline" href="contact-voa"><span class="govuk-visually-hidden">Contents: </span>Contact the VOA</a>
          </li>
        </ol>
      </nav>

      <h2 class="govuk-heading-l">What details are used to decide a band</h2>
      <div class="govuk-inset-text">
        <p>This page is also available in <a href='?languagePreference=cy'>Welsh (Cymraeg)</a>.</p>
      </div>

      <p>To make sure everybody pays the right amount of Council Tax, the VOA puts every home into a band based on the value of that home.</p>

      <p>To make sure every home is in the right band, the VOA uses information it's already got about each home. This is called Property Attribute Data, or PADs.</p>

      <h3 class="govuk-heading-m">What information does the VOA have about your home?</h3>

      <p>Details the VOA holds include:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>what type of home it is, for example if it's detached, semi-detached, terraced or a flat</li>
        <li>how old it is, and what it's made of, for example bricks or wood</li>
        <li>how big your home is, and how many bedrooms and bathrooms it's got</li>
        <li>where your home is, for example if it's in a city centre or the countryside</li>
        <li>if you've got a garage or a conservatory</li>
      </ul>

      <h3 class="govuk-heading-m">How homes are valued</h3>

      <p>The VOA uses Property Attribute Data and sales data to work out what a home would have been worth on 1 April 2003.</p>

      <h3 class="govuk-heading-m">How new-build homes are valued</h3>

      <p>If a home was built after 2003, the VOA works out what it would have been worth in 2003 by comparing sales data or valuations for similar homes in the same area.</p>
    {% else %}
      <h1 class="govuk-heading-xl">Gwirio ac adolygu dy fand Treth Gyngor</h1>

      <nav data-module="ga4-link-tracker" aria-label="Contents" class="gem-c-contents-list govuk-!-margin-bottom-4">
        <h2 class="gem-c-contents-list__title">Cynnwys</h2>
        <ol class="gem-c-contents-list__list">
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
            <a class="gem-c-contents-list__link govuk-link gem-print-force-link-styles govuk-link--no-underline" href="../start"><span class="govuk-visually-hidden">Contents: </span>Gwirio dy fand Treth Gyngor</a>
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
            <a class="gem-c-contents-list__link govuk-link gem-print-force-link-styles govuk-link--no-underline" href="how-bands-decided"><span class="govuk-visually-hidden">Contents: </span>Sut mae bandiau Treth Gyngor yn cael eu penderfynu</a>
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--active">
            <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
            Pa fanylion sy'n cael eu defnyddio i benderfynu band
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
            <a class="gem-c-contents-list__link govuk-link gem-print-force-link-styles govuk-link--no-underline" href="check-update-property"><span class="govuk-visually-hidden">Contents: </span>Gwirio a diweddaru manylion dy gartref</a>
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
            <a class="gem-c-contents-list__link govuk-link gem-print-force-link-styles govuk-link--no-underline" href="changes-affect-band"><span class="govuk-visually-hidden">Contents: </span>Beth sy'n gallu effeithio ar y band mae cartref ynddo</a>
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
            <a class="gem-c-contents-list__link govuk-link gem-print-force-link-styles govuk-link--no-underline" href="think-band-wrong"><span class="govuk-visually-hidden">Contents: </span>Rydw i'n meddwl bod fy mand Treth Gyngor yn anghywir</a>
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
            <a class="gem-c-contents-list__link govuk-link gem-print-force-link-styles govuk-link--no-underline" href="role-voa-council"><span class="govuk-visually-hidden">Contents: </span>Beth mae'r VOA a'r cyngor lleol yn ei wneud</a>
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
            <a class="gem-c-contents-list__link govuk-link gem-print-force-link-styles govuk-link--no-underline" href="contact-voa"><span class="govuk-visually-hidden">Contents: </span>Cysylltu â'r VOA</a>
          </li>
        </ol>
      </nav>

      <h2 class="govuk-heading-l">Pa fanylion sy'n cael eu defnyddio i benderfynu band</h2>
      <div class="govuk-inset-text">
        <p>Mae'r dudalen hon hefyd ar gael yn <a href='?languagePreference=en'>Saesneg (English)</a>.</p>
      </div>

      <p>I wneud yn siŵr bod pawb yn talu'r swm cywir o Dreth Gyngor, mae'r VOA yn rhoi pob cartref mewn band yn seiliedig ar werth y cartref.</p>

      <p>I wneud yn siŵr bod pob cartref yn y band cywir, mae'r VOA yn defnyddio gwybodaeth sydd ganddo am bob cartref. Enw'r wybodaeth yma yw Data Priodoleddau Eiddo, neu PADs.</p>

      <h3 class="govuk-heading-m">Pa wybodaeth sydd gan y VOA am dy gartref?</h3>

      <p>Mae'r manylion sydd gan y VOA yn cynnwys:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>pa fath o gartref yw e, er enghraifft tŷ ar wahân, tŷ pâr, tŷ teras neu fflat</li>
        <li>pa mor hen yw dy gartref, a beth mae wedi'i wneud ohono, er enghraifft brics neu bren</li>
        <li>pa mor fawr yw dy gartref, a faint o ystafelloedd gwely ac ystafelloedd ymolchi sydd ganddo</li>
        <li>lle mae dy gartref, er enghraifft os yw yng nghanol dinas neu yn y wlad</li>
        <li>os oes gen ti garej neu heulfan</li>
      </ul>

      <h3 class="govuk-heading-m">Sut mae cartref yn cael eu prisio</h3>

      <p>Mae'r VOA yn defnyddio Data Priodoleddau Eiddo a gwybodaeth am brisiau cartrefi i weithio allan beth oedd gwerth y cartref ar 1 Ebrill 2003.</p>

      <h3 class="govuk-heading-m">Sut mae cartrefi sydd newydd cael eu hadeiladu yn cael eu prisio</h3>

      <p>Os cafodd cartref ei adeiladu ar ôl 2003, mae'r VOA yn edrych ar brisiau cartrefi tebyg yn yr un ardal i weithio allan beth byddai gwerth y cartref wedi bod yn 2003.</p>
    {% endif %}
  </div>

  <div class="govuk-grid-column-one-third">
    <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        {% if data['languagePreference'] == "en" %}
          Related content
        {% else %}
          Cynnwys perthnasol
        {% endif %}
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          {% if data['languagePreference'] == "en" %}
            <li><a href="https://www.gov.uk/council-tax"><span class="govuk-visually-hidden">Related content: </span>How Council Tax works</a></li>
            <li><a href="#"><span class="govuk-visually-hidden">Related content: </span>Council Tax in Wales</a></li>
            <li><a href="https://www.gov.uk/guidance/understand-how-council-tax-bands-are-assessed"><span class="govuk-visually-hidden">Related content: </span>How domestic properties are assessed for Council Tax bands</a></li>
          {% else %}
            <li><a href="https://www.gov.uk/council-tax"><span class="govuk-visually-hidden">Related content: </span>Sut mae’r Dreth Gyngor yn gweithio</a></li>
            <li><a href="https://www.llyw.cymru/treth-gyngor"><span class="govuk-visually-hidden">Related content: </span>Treth Gyngor yng Nghymru</a></li>
            <li><a href="https://www.gov.uk/guidance/understand-how-council-tax-bands-are-assessed.cy"><span class="govuk-visually-hidden">Related content: </span>Sut y caiff eiddo domestig ei asesu ar gyfer bandiau Treth Gyngor</a></li>
          {% endif %}
        </ul>
      </nav>
    </aside>
  </div>
</div>

{% endblock %}
