{% extends "layouts/main.html" %}

{% block pageTitle %}
{% if data['languagePreference'] == "en" %}
 Why do you want us to review your Council Tax band? – GOV.UK Prototype Kit
 {% else %}
Pam wyt ti eisiau i ni adolygu dy fand Treth Gyngor? – GOV.UK Prototype Kit
 {% endif %}
{% endblock %}

{% block header %}
{% if data['languagePreference'] == "en" %}
{{ hmrcHeader({
  homepageUrl : "/v1-7/start?languagePreference=en",
    signOutHref : "?sign-out",
    useTudorCrown: "true"
  }) }}

{% else %}
{{ hmrcHeader({
  homepageUrl : "/v1-7/start?languagePreference=cy",
    language : "cy",
    signOutHref : "?sign-out",
    useTudorCrown: "true"
  }) }}
  {% endif %}
{% endblock %}


{% block beforeContent %}

{{

  hmrcLanguageSelect({

      language: 'cy' if data['languagePreference'] == 'cy' else 'en',

      en: { href: '?languagePreference=en' },

      cy: { href: '?languagePreference=cy' }

  })

}}
{% if data['languagePreference'] == "en" %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% else %}
{{ govukBackLink({
  text: "Yn ôl",
  href: "javascript:history.back()"
}) }}
{% endif %}

{% endblock %}
{% block content %}
{% if data['languagePreference'] == "en" %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

  
      <form class="form" action="/v1-7/why-challenge" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Why do you want us to review your Council Tax band?
              </h1>
            </legend>

            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="wrong" name="why-challenge" type="radio" value="wrong">
                <label class="govuk-label govuk-radios__label" for="wrong">
                  I think my home is in the wrong band 
                </label>

              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changes" name="why-challenge" type="radio" value="changes">
                <label class="govuk-label govuk-radios__label" for="changes">
                  There have been changes that affect my home
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
  {% else %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

  
      <form class="form" action="/v1-7/why-challenge" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Pam wyt ti eisiau i ni adolygu dy fand Treth Gyngor?
              </h1>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="wrong" name="why-challenge" type="radio" value="wrong">
                <label class="govuk-label govuk-radios__label" for="wrong">
                  Rwy’n credu bod fy nghartref yn y band anghywir
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changes" name="why-challenge" type="radio" value="changes">
                <label class="govuk-label govuk-radios__label" for="changes">
                  Mae newidiadau wedi bod sy’n effeithio ar fy nghartref
                </label>

              </div>
            </div>
          </fieldset>
        </div>

        {{ govukButton({
          text: "Parhau"
        }) }}

      </form>

    </div>
  </div>


  {% endif %}

<script>
  // Handle language switching without creating new history entries
  document.addEventListener('DOMContentLoaded', function() {
    var langLinks = document.querySelectorAll('.hmrc-language-select__list-item a');

    langLinks.forEach(function(link) {
      link.addEventListener('click', function(e) {
        e.preventDefault();
        var newUrl = this.href;
        // Replace current history state instead of pushing new one
        history.replaceState(null, '', newUrl);
        // Reload page to show new language
        window.location.reload();
      });
    });
  });
</script>
{% endblock %}
