{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block header %}
{% if data['languagePreference'] == "en" %}
{{ hmrcHeader({
    serviceUrl : "/",
    signOutHref : "?sign-out",
    useTudorCrown: "true"
  }) }}

  {% else %}
  {{ hmrcHeader({
    serviceUrl : "/",
    language : "cy",
    signOutHref : "?sign-out",
    useTudorCrown: true
  }) }}
{% endif %}
{% endblock %}